<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Estadísticas de Alergias y Productos</title>
    <style>
        @media (max-width: 767.98px) {
            .responsive-width {
                width: 100% !important;
            }
            .responsive-canvas {
                min-height: 300px;
            }
        }
        @media (min-width: 768px) {
            .responsive-width {
                width: 75% !important;
            }
            .responsive-canvas {
                min-height: 400px;
            }
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="back-button" style="margin: -5px 0px -5px 0px;">
        <a href="javascript:history.back()" style="padding: 8px 8px; background: linear-gradient(to right, #ff758c 0%, #ff7eb3 100%); border-radius: 10%; margin-left:30px;">
            <svg fill="#fff" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 4l1.41 1.41L7.83 11H20v2H7.83l5.58 5.59L12 20l-8-8z"/>
                <path d="M0 0h24v24H0V0z" fill="none"/>
            </svg>
        </a>
    </div>
    <div class="container-sm rectangulo">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-3">Alergias más comunes en los usuarios</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="responsive-width">
                <canvas id="alergiasChart" class="responsive-canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5">Productos Reportados</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <div class="responsive-width">
                <canvas id="productosChart" class="responsive-canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5">Sustitutos mejor valorados</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 25px;">
            <div class="responsive-width">
                <canvas id="valoracionesChart" class="responsive-canvas"></canvas>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-5">Alergias registradas por edad</h2>
            </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-bottom: 25px; padding-bottom: 25px">
            <div class="responsive-width">
                <canvas id="edadesChart" class="responsive-canvas"></canvas>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            function decodeHtml(html) {
                const txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }

            const alergiasData = JSON.parse(decodeHtml('{{alergiasData}}'.replace(/&quot;/g, '"')));
            const productosData = JSON.parse(decodeHtml('{{productosData}}'.replace(/&quot;/g, '"')));
            const valoracionesData = JSON.parse(decodeHtml('{{valoracionesData}}'.replace(/&quot;/g, '"')));
            const edadesData = JSON.parse(decodeHtml('{{edadesData}}'.replace(/&quot;/g, '"')));

            const ctxAlergias = document.getElementById('alergiasChart').getContext('2d');
            const alergiasChart = new Chart(ctxAlergias, {
                type: 'bar',
                data: {
                    labels: alergiasData.labels,
                    datasets: [{
                        label: 'Usuarios',
                        data: alergiasData.data,
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        borderColor: 'rgba(255, 159, 64, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Usuarios'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Alergias'
                            }
                        }
                    }
                }
            });

            const ctxProductos = document.getElementById('productosChart').getContext('2d');
            const productosChart = new Chart(ctxProductos, {
                type: 'bar',
                data: {
                    labels: productosData.labels,
                    datasets: [{
                        label: 'Reportes',
                        data: productosData.data,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Reportes'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Productos'
                            }
                        }
                    }
                }
            });

            const ctxValoraciones = document.getElementById('valoracionesChart').getContext('2d');
            const valoracionesChart = new Chart(ctxValoraciones, {
                type: 'bar',
                data: {
                    labels: valoracionesData.labels,
                    datasets: [{
                        label: 'Valoración Promedio',
                        data: valoracionesData.data,
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        borderColor: 'rgba(153, 102, 255, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Valoración Promedio'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Sustitutos'
                            }
                        }
                    }
                }
            });

            const ctxEdades = document.getElementById('edadesChart').getContext('2d');
            const edadesChart = new Chart(ctxEdades, {
                type: 'bar',
                data: {
                    labels: edadesData.labels,
                    datasets: [{
                        label: 'Cantidad de Alergias',
                        data: edadesData.data,
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        borderColor: 'rgba(75, 192, 192, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                            title: {
                                display: true,
                                text: 'Cantidad de Alergias'
                            }
                        },
                        x: {
                            title: {
                                display: true,
                                text: 'Rango de Edad'
                            }
                        }
                    }
                }
            });
        });
    </script>

</body>
</html>
