<!DOCTYPE html>
<html lang="en">
<body>
  <div class="container-sm rectangulo">
    <div class="row">
      <div class="col" align="center">
        <h1 class="titulo1 mt-4">ESTADÍSTICAS DEL SISTEMA</h1>
        <p class="pe-5 ps-5 titulo8">Aquí se muestra una visión general del uso del sistema y datos relevantes para la administración.</p>
      </div>
      <div>
        <div class="row" align="center">
          <!-- Ejemplo de estadísticas con diseño de tarjeta -->
          <div class="col rectangulo5 me-5 ms-5 mb-5 mt-1">
            <h2 class="titulo9 mt-4">Usuarios Activos</h2>
            <p class="titulo10 pe-1 ps-1 pb-4"></p>
          </div>
          <div class="col rectangulo5 me-5 ms-5 mb-5 mt-1">
            <h2 class="titulo9 mt-4">Productos Registrados</h2>
            <p class="titulo10 pe-1 ps-1 pb-4"></p>
          </div>
          <!-- Puedes seguir agregando más tarjetas con diferentes estadísticas -->
        </div>
      </div>
    </div>
  </div>
</body>
</html>
