<!DOCTYPE html>
<html lang="en">


<body>
  {{#if user}}

{{/if}}
  <div class=" container-sm rectangulo" style="padding-bottom: 40px;">
    <div class="row">

      <div class="col" align="center">
        <h1 class="titulo1 mt-4">¡BIENVENIDO A DONEET!</h1>
        <p class="pe-5 ps-5  titulo8">¡Hola, nuevo usuario, es un  placer recibirte! nosotros somos Donnet un sistema de apoyo para la prevención de reacciones alérgicas por dulces empaquetados, que entre sus funciones contamos con las siguientes:</p>
      </div>
      <div>
        <div class="row"align="center" >
          <div>
          <button style="all: unset; padding: 0; margin: 0px 15px; background: none; border: none; color: inherit; font: inherit; cursor: pointer; width:250px;">
  <div class="col rectangulo5" style="height: 230px;">
    <svg class="mt-lg-5" width="177" height="50" viewBox="0 0 177 177" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g filter="url(#filter0_d_153_37)">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M130.5 122.677C139.957 111.451 145.656 96.9534 145.656 81.125C145.656 45.4854 116.765 16.5938 81.125 16.5938C45.4854 16.5938 16.5938 45.4854 16.5938 81.125C16.5938 116.765 45.4854 145.656 81.125 145.656C96.9534 145.656 111.451 139.957 122.677 130.5L150.964 158.786C153.124 160.946 156.626 160.946 158.786 158.786C160.946 156.626 160.946 153.124 158.786 150.964L130.5 122.677Z" fill="white"/>
      </g>
    </svg>
    <h1 class="titulo9">Busca</h1>
    <p class="titulo10 pe-1 ps-1 pb-4">Dulces en específico</p>
  </div>
</button>

          <button id="descubreButton" style="all: unset; padding: 0; margin: 0px 15px; background: none; border: none; color: inherit; font: inherit; cursor: pointer; width:250px;">
          <div class="col rectangulo5" style="height: 230px;">
            <svg class="mt-lg-5" width="174" height="50" viewBox="0 0 174 174" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_153_41)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M37.4793 16.3125L40.8393 16.3125C48.7573 16.3125 55.0322 16.3124 60.0899 16.7257C65.262 17.1482 69.6383 18.0299 73.6343 20.066C79.1043 22.8531 83.7109 27.0416 87 32.1774C90.2891 27.0416 94.8957 22.8531 100.366 20.066C104.362 18.0299 108.738 17.1482 113.91 16.7257C118.968 16.3124 125.243 16.3125 133.161 16.3125L136.521 16.3125C140.393 16.3124 143.626 16.3124 146.266 16.5281C149.021 16.7531 151.606 17.2397 154.051 18.4856C157.803 20.397 160.853 23.4471 162.764 27.1986C164.01 29.6437 164.497 32.2295 164.722 34.9836C164.938 37.6243 164.938 40.8567 164.937 44.7292V107.521C164.938 111.393 164.938 114.626 164.722 117.266C164.497 120.021 164.01 122.606 162.764 125.051C160.853 128.803 157.803 131.853 154.051 133.764C151.606 135.01 149.021 135.497 146.266 135.722C143.626 135.938 140.393 135.938 136.521 135.938H126.333C116.915 135.938 113.339 135.993 110.173 136.954C107.209 137.854 104.452 139.33 102.059 141.297C99.5033 143.398 97.4736 146.342 92.2497 154.178L91.5243 155.266C90.5158 156.779 88.818 157.688 87 157.688C85.1819 157.688 83.4842 156.779 82.4757 155.266L81.7503 154.178C76.5264 146.342 74.4967 143.398 71.9409 141.297C69.5479 139.33 66.7905 137.854 63.8266 136.954C60.661 135.993 57.0851 135.938 47.6675 135.938H37.4792C33.6067 135.938 30.3743 135.938 27.7337 135.722C24.9795 135.497 22.3937 135.01 19.9486 133.764C16.1971 131.853 13.147 128.803 11.2356 125.051C9.98968 122.606 9.50313 120.021 9.27811 117.266C9.06235 114.626 9.06241 111.393 9.06249 107.521V44.7293C9.06241 40.8567 9.06235 37.6243 9.27811 34.9836C9.50313 32.2295 9.98968 29.6437 11.2356 27.1986C13.147 23.4471 16.1971 20.397 19.9486 18.4856C22.3937 17.2397 24.9795 16.7531 27.7337 16.5281C30.3743 16.3124 33.6067 16.3124 37.4793 16.3125ZM92.4375 135.462C93.3086 134.528 94.2018 133.678 95.1539 132.895C98.6514 130.021 102.681 127.864 107.013 126.549C111.917 125.059 117.219 125.061 125.454 125.062C125.743 125.062 126.036 125.063 126.333 125.063H136.3C140.45 125.063 143.236 125.058 145.381 124.883C147.462 124.713 148.458 124.409 149.114 124.075C150.819 123.206 152.206 121.82 153.075 120.114C153.409 119.458 153.713 118.462 153.883 116.381C154.058 114.236 154.062 111.45 154.062 107.3V44.95C154.062 40.7999 154.058 38.0143 153.883 35.8692C153.713 33.7876 153.409 32.7923 153.075 32.1357C152.206 30.4305 150.819 29.0441 149.114 28.1753C148.458 27.8407 147.462 27.5371 145.381 27.367C143.236 27.1917 140.45 27.1875 136.3 27.1875H133.4C125.189 27.1875 119.359 27.1917 114.796 27.5645C110.296 27.9322 107.51 28.6309 105.303 29.7557C100.869 32.0147 97.2647 35.6193 95.0056 40.0529C93.8809 42.2603 93.1822 45.0461 92.8145 49.5457C92.4417 54.1087 92.4375 59.9395 92.4375 68.15V135.462Z" fill="white"/>
              </g>
              <defs>
              <filter id="filter0_d_153_41" x="-4" y="0" width="182" height="182" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_153_41"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_153_41" result="shape"/>
              </filter>
              </defs>
              </svg>
            <h1 class="titulo9" >Descubre</h1>
            <p class="titulo10 pe-1 ps-1 pb-4">Productos que te podrian gustar por categorias  </p>
          </div>
          </button>
          <button style="all: unset; padding: 0; margin: 0px 15px; background: none; border: none; color: inherit; font: inherit; cursor: pointer; width:250px;">
          <div class="col rectangulo5" style="height: 230px;">
            <svg class="mt-lg-5" width="175" height="50" viewBox="0 0 175 175" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g filter="url(#filter0_d_153_43)">
              <path fill-rule="evenodd" clip-rule="evenodd" d="M67.4479 58.3333C67.4479 31.1505 89.4839 9.11456 116.667 9.11456C143.849 9.11456 165.885 31.1505 165.885 58.3333C165.885 85.5161 143.849 107.552 116.667 107.552C113.184 107.552 109.783 107.19 106.501 106.5C107.19 109.78 107.552 113.181 107.552 116.667C107.552 143.849 85.5161 165.885 58.3333 165.885C31.1505 165.885 9.11455 143.849 9.11455 116.667C9.11455 89.4839 31.1505 67.4479 58.3333 67.4479C61.8187 67.4479 65.2195 67.8102 68.5001 68.4992C67.8103 65.2166 67.4479 61.8157 67.4479 58.3333ZM35.9307 13.3095C37.9517 11.0649 41.4095 10.8837 43.6541 12.9047L58.9807 26.7048C61.2252 28.7258 61.4064 32.1837 59.3854 34.4282L45.5853 49.7548C43.5643 51.9993 40.1065 52.1805 37.8619 50.1595C35.6174 48.1386 35.4362 44.6807 37.4572 42.4362L41.6647 37.7632C36.9322 38.6534 32.5575 39.9819 28.91 41.9732C25.486 43.8424 22.8633 46.213 21.1268 49.239C19.3969 52.2535 18.3257 56.3022 18.619 61.8991C18.7771 64.9152 16.4602 67.4885 13.444 67.6465C10.4278 67.8046 7.85459 65.4877 7.69652 62.4715C7.31245 55.1431 8.69236 48.9322 11.6403 43.7951C14.5816 38.6696 18.8634 34.9966 23.669 32.3731C29.3249 29.2854 35.9131 27.5446 42.4448 26.5337L36.3355 21.0328C34.0909 19.0119 33.9097 15.554 35.9307 13.3095ZM161.558 107.345C164.574 107.187 167.147 109.504 167.305 112.52C167.689 119.848 166.31 126.059 163.362 131.197C160.42 136.322 156.139 139.995 151.333 142.618C145.677 145.706 139.089 147.447 132.557 148.458L138.666 153.959C140.911 155.98 141.092 159.438 139.071 161.682C137.05 163.927 133.592 164.108 131.348 162.087L116.021 148.287C113.777 146.266 113.596 142.808 115.617 140.563L129.417 125.237C131.438 122.992 134.895 122.811 137.14 124.832C139.385 126.853 139.566 130.311 137.545 132.555L133.337 137.228C138.07 136.338 142.444 135.01 146.092 133.018C149.516 131.149 152.139 128.779 153.875 125.753C155.605 122.738 156.676 118.689 156.383 113.093C156.225 110.076 158.542 107.503 161.558 107.345Z" fill="white"/>
              </g>
              <defs>
              <filter id="filter0_d_153_43" x="-4" y="0" width="183" height="183" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
              <feFlood flood-opacity="0" result="BackgroundImageFix"/>
              <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
              <feOffset dy="4"/>
              <feGaussianBlur stdDeviation="2"/>
              <feComposite in2="hardAlpha" operator="out"/>
              <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"/>
              <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_153_43"/>
              <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_153_43" result="shape"/>
              </filter>
              </defs>
            </svg>
            <h1 class="titulo9" >Encuentra</h1>
            <p class="titulo10 pe-1 ps-1 pb-4">Sustitutos de productos por ingredientes alergenos  </p>
          </div>
          </button>
          
          
          </div>
        </div>
       
      </div>

    </div>

  
  <div class="">
    <div class="container-sm ">
      <h1 class="titulo1" style="text-align: center;">Noticias</h1>
  <div id="newsCarousel" class="carousel slide sombra" data-bs-ride="carousel">
    <!-- Indicators/dots -->
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#newsCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    
    <!-- The slideshow/carousel -->
    <div class="carousel-inner">
  <div class="carousel-item active">
    <a href="https://es.childrens.com/health-wellness/how-to-read-a-food-label-3-tips-to-protect-children-with-food-allergies" target="_blank">
      <img src="/images/noticias1.png" class=" w-100" alt="Cómo leer una etiqueta de alimentos">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cómo leer una etiqueta de alimentos</h5>
        <p>Tres consejos para proteger a los niños con alergias alimentarias</p>
      </div>
    </a>
  </div>
  <div class="carousel-item">
    <a href="https://elpais.com/salud-y-bienestar/2024-04-14/la-democratizacion-de-las-alergias-un-caldo-de-cultivo-ambiental-y-social-espolea-el-auge-de-casos-y-nuevos-alergenos.html" target="_blank">
      <img src="/images/noticias2.png" class="d-block w-100" alt="Estos son los 3 grandes alimentos a los que los niños tienen alergias">
      <div class="carousel-caption d-none d-md-block">
        <h5>Estos son los 3 grandes alimentos a los que los niños tienen alergias</h5>
        <p>Las frutas (29,6%), los huevos (11,5%) y los lácteos (8,5%) son los 3 alérgenos más comunes entre los usuarios de los comedores escolares</p>
      </div>
    </a>
  </div>
  <div class="carousel-item">
    <a href="https://www.alimente.elconfidencial.com/bienestar/2024-04-22/3-alimentos-a-los-que-ninos-tienen-alergia_3871178/" target="_blank">
      <img src="/images/noticias3.png" class="d-block w-100" alt="La ‘democratización’ de las alergias">
      <div class="carousel-caption d-none d-md-block">
        <h5>La ‘democratización’ de las alergias</h5>
        <p>Un caldo de cultivo ambiental y social espolea el auge de casos y nuevos alérgenos</p>
      </div>
    </a>
  </div>
</div>

    
    <!-- Left and right controls/icons -->
    <button class="carousel-control-prev" type="button" data-bs-target="#newsCarousel" data-bs-slide="prev" >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden" style="color: gray;">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#newsCarousel" data-bs-slide="next" >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden" style="color: gray;">Siguiente</span>
    </button>
  </div>
</div>
  <h1 class="titulo1 mt-4" style="text-align: center;">Educación</h1>
  </div>
 <div class="container mt-4">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="images/guiaAlergias.png" class="card-img-top mx-auto d-block img-small sombra " alt="Guía sobre alergias alimentarias" style="width: 200px;">
        <div class="card-body">
          <h5 class="card-title">Guía sobre alergias alimentarias.</h5>
          <p class="card-text">Food Allergy Research & Education (FARE) es una organización benéfica dedicada a la concienciación, investigación, educación y defensa de las alergias alimentarias.</p>
          <a href="https://www.foodallergy.org/sites/default/files/2020-11/Field-Guide-11162020-ESP.pdf" class="btn btn-primary mx-auto d-block">Ver Guía</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="images/guiaEtiquetado.jpg" class="card-img-top mx-auto d-block img-small sombra" alt="Etiquetado frontal de alimentos y bebidas" style="width: 225px;">
        <div class="card-body">
          <h5 class="card-title">Etiquetado frontal de alimentos y bebidas.</h5>
          <p class="card-text">Todo lo que debes saber para un consumo consciente y saludable de alimentos empaquetados, información de manera fácil, rápida y verídica sobre los nutrimentos.</p>
          <a href="https://www.gob.mx/promosalud/acciones-y-programas/etiquetado-de-alimentos" class="btn btn-primary mx-auto d-block">Ver Guía</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="images/leyesEtiquetado.png" class="card-img-top mx-auto d-block img-small sombra" alt="Comprender las etiquetas de los alimentos" style="width: 290px;">
        <div class="card-body">
          <h5 class="card-title">Comprender las etiquetas de los alimentos.</h5>
          <p class="card-text">Hay diversos enfoques que pueden funcionar, y determinadas leyes, tales como la Ley de Etiquetado de Alérgenos Alimentarios y Protección al Consumidor (FALCPA, por sus siglas en inglés), ayudan a que sea más fácil entender las etiquetas de los alimentos a fin de que usted pueda manejar con seguridad sus alergias alimentarias o las de su hijo.</p>
          <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=&ved=2ahUKEwjWycb-pteFAxVD5ckDHfvUAbgQFnoECA8QAQ&url=https%3A%2F%2Fwww.foodallergy.org%2Fresources%2Funderstanding-food-labels-esp&usg=AOvVaw3YVKCFQBpXzm85Oef8-yg-&opi=89978449" class="btn btn-primary mx-auto d-block">Ver Guía</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="container mt-4">
    <h2 class="titulo1" style="text-align: center;">Preguntas Frecuentes (FAQ)</h2>
    <div class="accordion" id="faqAccordion">
        <!-- Pregunta 1 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Qué es una alergia alimentaria?
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Una alergia alimentaria es una reacción del sistema inmunológico que ocurre poco después de haber comido un alimento específico. Incluso pequeñas cantidades del alimento alergénico pueden provocar síntomas como problemas digestivos, urticaria o hinchazón de las vías aéreas.
                </div>
            </div>
        </div>
        <!-- Pregunta 2 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    ¿Cómo puedo saber si tengo una alergia alimentaria?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Los síntomas de una alergia alimentaria pueden variar desde leves a graves y pueden incluir urticaria, vómitos, problemas respiratorios, y en casos severos, anafilaxis. Si sospechas que tienes una alergia alimentaria, es importante consultar a un médico o un alergólogo para pruebas y diagnóstico adecuados.
                </div>
            </div>
        </div>
        <!-- Pregunta 3 -->
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    ¿Cómo utiliza Doneet los datos de los usuarios?
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#faqAccordion">
                <div class="accordion-body">
                    Doneet toma la privacidad y la seguridad de los datos de los usuarios muy en serio. Utilizamos la información proporcionada por los usuarios exclusivamente para mejorar la experiencia en la aplicación, como personalizar las alertas de alérgenos y ofrecer recomendaciones basadas en las alergias específicas de cada usuario. No compartimos datos personales con terceros sin el consentimiento explícito del usuario.
                </div>
            </div>
        </div>
        <!-- Más preguntas según sea necesario -->
    </div>
</div>

</div>


  </div>
</body>
