<!DOCTYPE html>
<html lang="en">


<body>

  <div class="rectangulo">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <h1 class="titulo2" align="center">¡Bienvenido a DONEET!</h1>
      <p class="titulo3" align="center">
        Hola, nuevo usuario, es un placer recibirte, nosotros somos DONEET un sistema de apoyo para la prevencion
        de reacciones alérgicas por dulces empaquetados, que entre sus funciones contamos con las siguientes:
      </p>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <!--Tarjeta "BUSCA"-->
          <center>
            <div class="rectangulo2">
              <img src="/images/Search_002.png">
              <h1 class="titulo6">Busca</h1>
              <p class="titulo4">Productos a los que te gusten o ingredientes alergenos</p>
            </div>
          </center>
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <!--Tarjeta "DESCUBRE"-->
          <center>
            <div class="rectangulo2">
              <img src="/images/003_Discover.png">
              <h1 class="titulo6">Descubre</h1>
              <p class="titulo4">Productos que te podrian gustar por categorias</p>
            </div>
          </center>
        </div>
        <div class="carousel-item">
          <!--Tarjeta "Encuentra"-->
          <center>
            <div class="rectangulo2">
              <img src="/images/004_Find.png">
              <h1 class="titulo6">Encuentra</h1>
              <p class="titulo4">Sustitutos a los productos que no puedes consumir</p>
            </div>
          </center>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

  </div>
</body>

</html>