<!DOCTYPE html>
<html lang="en">


<body>

  <div class="rectangulo">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
      <h1 class="titulo2" align="center">¡Bienvenido a DONEET!</h1>
      <p class="titulo3" align="center">
        Hola, nuevo usuario, es un placer recibirte, nosotros somos DONEET un sistema de apoyo para la prevencion
        de reacciones alérgicas por dulces empaquetados, que entre sus funciones contamos con las siguientes:
      </p>
      
    </div>

  </div>
</body>

</html>