<div class="container-sm rectangulo">
    <div class="container mt-5">
        <h1 class="titulo2 text-center mb-4 pt-4">Sobre Nosotros</h1>
        <p class=" titulo8">Somos un equipo de tres estudiantes del Instituto Politécnico Nacional (IPN), dedicados a desarrollar soluciones tecnológicas que mejoren la calidad de vida de las personas. Nuestro proyecto, Doneet, tiene como objetivo principal prevenir reacciones alérgicas causadas por dulces empaquetados mediante una plataforma web inteligente que proporciona información precisa y actualizada sobre alérgenos.</p>
        
        <div class="row text-center mt-5">
            <div class="col-md-4">
                <img src="/images/cesar.jpeg" alt="Foto de César López" class="img-fluid rounded-circle mb-3" width="180">
                <h3>Cesar Alfonso<br>López de la Concha</h3>
                <p>Especialista en Backend, encargado de la programación y lógica del servidor de la aplicación web.</p>
            </div>
            <div class="col-md-4">
                <img src="/images/ulises.jpeg" alt="Foto de Ulises Vázquez" class="img-fluid rounded-circle mb-3" width="160">
                <h3>Ulises<br>Rodríguez Vázquez</h3>
                <p>Encargado del desarrollo del agente conversacional, implementando la lógica y procesamiento de lenguaje natural.</p>
            </div>
            <div class="col-md-4">
                <img src="/images/naomi.jpeg" alt="Foto de Naomi Youshimatz" class="img-fluid rounded-circle mb-3" width="150">
                <h3>Naomi<br>Youshimatz Navarro</h3>
                <p>Especialista en Frontend, responsable del diseño y estilos de la aplicación web, asegurando una experiencia de usuario óptima.</p>
            </div>
        </div>
        
        <div class="mt-4">
            <h2 class="titulo2 text-center">Agradecimientos</h2>
            <p class="text-justify pb-4 titulo8">Queremos expresar nuestro más sincero agradecimiento a nuestros profesores, compañeros y familiares que nos han apoyado a lo largo de este proyecto. Su orientación, consejos y apoyo han sido fundamentales para el desarrollo y éxito de Doneet. Agradecemos especialmente al Instituto Politécnico Nacional por brindarnos las herramientas y conocimientos necesarios para llevar a cabo este proyecto.</p>
        </div>
    </div>
</div>