:root {
  --blanco: #ffff;
  --rosa: #F31260;
  --gris: #544E5C;
  --grisClaro: #aaa5a5;
  --gradienteRosa:linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
}



.parent {
  border: 1px solid black;
  margin: 1rem;
  padding: 2rem 2rem;
  text-align: center;
}

.child {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: middle;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

input[type="submit"] {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
}

input[type="submit"] {
  box-sizing: border-box;
  color: black;
  width: 100%;
  padding: 12px;
  text-decoration: none;
  display: block;
}

.dropdown-content input[type="submit"]:hover {
  background-color: #ddd;
}

.sombra {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.espacio{
  padding-left:12em; 
}

.dropdown-item:hover{
  background-color: #F0B65E;

}

.mac{
  background: linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
  border-radius: 15px;
  text-decoration-color: #F31260;
  color: linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
}

.bordecito{
  border-radius: 20px;
}

.hola{
  background:linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
  border-radius: 20px;
}

.fondo {
  background: radial-gradient(167.67% 167.67% at -41.91% -23.88%, rgba(255, 78, 80, 0.9) 27.1%, rgba(255, 235, 57, 0.9) 55.96%, rgba(231, 96, 67, 0.9) 89.86%)
    /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */
  ;
  width: 100%;
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.rectangulo {
  background: var(--blanco);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

}

.rectangulo1 {
  /* inputs registro*/
  background: #F0F0F0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;

}

.rectangulo2{
  background: linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  width: 278px;
  height: 430px;
  left: 266px;
  top: 414px;
}

.rectangulo3 {
  /* busqueda*/
  background: #F0F0F0;
  border-radius: 50px;

}

.rectangulo4{
  background: #F1F3F5;
  border-radius: 46px;
}

.rectangulo5{
  background: linear-gradient(180deg, #FF512F 0%, #DD2476 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.titulo {
  font-family: 'Bungee Inline';
  color: var(--rosa);
}

.titulo1{
  font-family: 'Bungee', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  color: #F31260;
}

.titulo2 {
  font-family: 'Poppins', bold;
  font-weight: 650;
  color: var(--rosa);
}

.titulo3 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
}

.titulo4 {
  font-family: 'Roboto';
  font-style: normal;
  color: var(--blanco);
  font-weight: 700;
}

.titulo5 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  color: var(--gris);
}

.titulo6 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #ffff;

}

.titulo7{
  font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 20px;
color: #260077;
}

.titulo8{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;

}

.titulo9{
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.titulo10{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.espacio {
  color:rgba(0, 0, 0, 0);
}

.fondo-rojo-titulo{
  background: rgba(227, 6, 19, 0.24);
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
}
.fondo-rojo{
  background: rgba(227, 6, 19, 0.24);
  border-radius: 10px;
  border-radius: 10px;
}

.fondo-naranja-titulo{
  background: rgba(255, 200, 55, 0.56);
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
}
.fondo-naranja{
  background: rgba(255, 200, 55, 0.56);
  border-radius: 10px;
  border-radius: 10px;
}
.fondo-morado-titulo{
  background: rgba(171, 53, 151, 0.4);;
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
}
.fondo-morado{
  background: rgba(171, 53, 151, 0.4);;
  border-radius: 10px;
  border-radius: 10px;
}

.fondo-verde-titulo{
  background: rgba(147, 171, 53, 0.37);
  border-top-left-radius: 40px 40px;
  border-top-right-radius: 40px 40px;
}
.fondo-verde{
  background: rgba(147, 171, 53, 0.37);
  border-radius: 10px;
  border-radius: 10px;
}

/* estilos de las checkbox de las alergias */
.form-element {
  position: relative;
  width: 115px;
  height: 120px;
  margin: 6px;
  
}

.form-element input {
  display: none;
}

.form-element .icon {
  margin-top:10px;
  font-size:30px;
  fill:#000;
  transition:all 200ms ease-in-out;
}

.form-element label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid #ddd;
  background: #fff;
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;

  
}


.form-element .title {
  font-size: 15px;
  fill:#000;
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.form-element label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #2260ff;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}

.form-element input:checked + label .icon {
  fill:#2260ff;
  stroke: #2260ff;
}

.form-element input:checked+label:before {
  opacity: 1;
  transform: scale(1);
}


.form-element input:checked+label .title {
  color: #2260ff;
}

.form-element input:checked+label {
  border: 2px solid #2260ff;
}

.list {
  display: flex;
  flex-wrap: wrap;
}

.btn-warning {
  width: 302px;

}

/*Cuando el producto NO contiene el ingrediente*/

.nocontiene {
  position: relative;
  width: 115px;
  height: 120px;
  margin: 6px;
  
}

.nocontiene input {
  display: none;
}

.nocontiene .icon {
  margin-top:10px;
  font-size:30px;
  fill:#bbb8b8;
  transition:all 200ms ease-in-out;
}

.nocontiene label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px solid rgb(238, 238, 238);
  background: rgb(212, 212, 212);
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;

}

.nocontiene .title {
  font-size: 15px;
  color: rgb(180, 180, 180);
  fill:rgb(173, 173, 173);
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.nocontiene label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #2260ff;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}

/*cuando el producto contiene los ingredientes*/

.contiene {
  position: relative;
  width: 115px;
  height: 120px;
  margin: 6px;
  
}

.contiene input {
  display: none;
}

.contiene .icon {
  margin-top:10px;
  font-size:30px;
  fill:#fff;
  stroke: #fff;
  transition:all 200ms ease-in-out;
}

.contiene label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: 2px linear-gradient(360deg, #D31027 0%, #EA384D 100%);
  background: linear-gradient(360deg, #D31027 0%, #EA384D 100%);
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;

}

.contiene .title {
  font-size: 15px;
  color: rgb(250, 250, 250);
  fill:rgb(173, 173, 173);
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.contiene label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #2260ff;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}
/*contrazas*/

.contrazas {
  position: relative;
  width: 115px;
  height: 120px;
  margin: 6px;
  
}

.contrazas input {
  display: none;
}

.contrazas .icon {
  margin-top:10px;
  font-size:30px;
  fill:#fff;
  stroke: #fff;
  transition:all 200ms ease-in-out;
}

.contrazas label {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  border: linear-gradient(360deg, #FF8008 0%, #FFC837 100%);
  background:  linear-gradient(360deg, #FF8008 0%, #FFC837 100%);
  box-shadow: 0px 5px 20px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: all 200ms ease-in-out;
  border-radius: 5px;

}

.contrazas .title {
  font-size: 15px;
  color: rgb(250, 250, 250);
  fill:rgb(173, 173, 173);
  padding: 5px 0px;
  transition: all 200ms ease-in-out;
}

.contrazas label:before {
  content: "✓";
  position: absolute;
  width: 18px;
  height: 18px;
  top: 8px;
  left: 8px;
  background: #2260ff;
  color: #fff;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 50%;
  opacity: 0;
  transform: scale(0.5);
  transition: all 200ms ease-in-out;
}


/*Desde aqui empieza el CSS de las tarjetas*/
.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.cols2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content:left;
  margin-right: 3em;
  padding-right: 1em;
}  .columnaCard {
  width: calc(15% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.containerCard {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;

}

/*Esta parte es para cambiar todo el diseño de la tarjeta*/
.frontCard,
.backCard {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 160px;
  height: auto;
  min-width: 160px; /*Este es para la anchura de la targeta*/
  width: auto;
  border-radius: 10px;
  color: #fff;  /*Color de la letra*/
  font-size: 1.5rem;
}

.backCard {
  
  background: #cedce7;
  background: -webkit-linear-gradient(45deg, #cedce7 0%, #12a79d 100%);
  background: -o-linear-gradient(45deg, #cedce7 0%, #12a79d 100%);
  background: linear-gradient(45deg, #cedce7 0%, #12a79d 100%);
  font-size: 1.25rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

.frontCard:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .1;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.containerCard:hover .frontCard,
.containerCard:hover .backCard {
  -webkit-transition: -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .5s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.backCard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  text-align: left;
  font-weight: 600;
}

.backCard:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: '';
  display: block;
  opacity: .5;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 7px;
}

.innerCard {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2
}

.containerCard .backCard {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerCard .frontCard {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerCard:hover .backCard {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.containerCard:hover .frontCard {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.frontCard .innerCard p {
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
  font-family: 'Arvo', serif;
}

.frontCard .innerCard p:after {
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background-color: rgb(255, 255, 255, .65);
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.frontCard .innerCard span {
  color: rgba(255, 255, 255, .85);
  font-family: 'Arvo', serif;
  font-weight: 300;
  font-size: 1rem
}

@media screen and (max-width: 85rem) {
  .columnaCard {
    width: 150px;
    height: 200px;
  }
}

@media screen and (max-width: 60rem) {
  .columnaCard {
    width: calc(17% - 2rem);
    margin: 0 1rem 1.5rem;
  }
}

@media screen and (max-width: 48rem) {
  .columnaCard {
    width: calc(17% - 2rem);
    margin: 0 1rem 1.5rem;
  }
}

@media screen and (max-width: 32rem) {
  .columnaCard {
    width: calc(60% - 2rem);
    margin: 0 1rem 1.5rem;
  }

  h1.logo {
    text-align: center;
    margin: 2rem 0 0;
    font-size: 2.5rem;
    font-family: 'Arvo', serif;
    font-weight: normal;
    color: #555;
    letter-spacing: -.5px;
  }

  p.sm-logo {
    font-family: 'Arvo', serif;
    text-align: center;
    font-weight: 600;
    color: #12a79d;
    letter-spacing: 29.5px;
    margin: 0 0 2.5rem 1.8rem;
  }

  h2 {
    margin: 2rem 0 1rem;
    font-size: 1.25rem;
  }

}

.buttonCard{
  color: deeppink;
}
/* Mostrar ingredientes */



/*boton flotante */

.clearfix:before,
.clearfix:after {
    content: " ";
  
}

.clearfix:after {
    clear: both;
}

.flex-center {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}


.md-grid-1-3 {
  float: right;
  width: 16%;
  position: absolute;

}

.md-button {
  font-weight: 500;
  margin-top: 15px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.md-button-floating {
  border-radius: 50%;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  cursor: pointer;
  height: 56px;
  width: 56px;
}

.md-button-floating:after {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 50%;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}

.md-button-floating:hover {
  box-shadow: 0 0 6px rgba(0,0,0,.16), 0 6px 12px rgba(0,0,0,.32);
}


.fab{
  position: fixed;
  bottom: 32px;
  right: 32px;
  border-radius: 60%; 
  background: linear-gradient(180deg, #2facff 0%, #075cbd 100%);
  box-shadow: 1px 2px 4px #7e7d7d;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.fab:hover{
  cursor: pointer;
}
.fab img{
  width: 70;
  transform: rotate(45deg);
  transition: 0.4s;
}

/* Colors */

.md-button-flat-blue {
  color: #2196F3;
}

.md-button-flat-blue:hover {
  background-color: rgba(33, 150, 243, .2);
}

.md-button-flat-orange {
  color: #FFA83A;
}

.md-button-flat-orange:hover {
  background-color: rgba(255 ,168 ,58, .2);
}

.md-button-flat-red {
  color: #FF5252;
}

.md-button-flat-red:hover {
  background-color: rgba(255, 82, 82, .2);
}


.md-button-yellow {
  background-color: #EFFE42;
  color: #444444;
}

.md-button-yellow:hover {
  background-color: #d7ea01;
}

/*animacion fondo*/

.animated-background{
    background: radial-gradient(167.67% 167.67% at -41.91% -23.88%, #5F3387 27.1%,rgba(231, 96, 67, 0.9) 55.96%, rgba(255, 235, 57, 0.9) 89.86%) ;
    background-size: 400% 400%;
    animation: animate-background 10s infinite ease-in-out; 
}

@keyframes animate-background {
  0%{
    background-position: 0 50%;

  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0 50%;
  }
  
}

/*boton de tarjetas*/
.custom-btn {
  width: 130px;
  height: 40px;
  
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}


/* 8 */
.btn-8 {
background: linear-gradient(0deg, #AB3597 0%,#F08A5E 100%);
  line-height: 42px;
  padding: 0;
  border: none;
  color:#fff;
}
.btn-8 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-8:before,
.btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #AB3597;
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover{
  
  background: transparent;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8 span:before,
.btn-8 span:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  background: #F08A5E;
  box-shadow:
   -7px -7px 20px 0px rgba(255,255,255,.9),
   -4px -4px 5px 0px rgba(255,255,255,.9),
   7px 7px 20px 0px rgba(0,0,0,.2),
   4px 4px 5px 0px rgba(0,0,0,.3);
  transition: all 0.3s ease;
}
.btn-8 span:before {
  width: 2px;
  height: 0%;
}
.btn-8 span:after {
  height: 2px;
  width: 0%;
}
.btn-8 span:hover:before {
  height: 100%;
}
.btn-8 span:hover:after {
  width: 100%;
}

/* 7 */
.btn-7 {
  background: linear-gradient(0deg, #D14A5A 0%, #B83C5F 100%);
    line-height: 42px;
    padding: 0;
    border: none;
    color: #fff;
  }
  .btn-7 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-7:before,
  .btn-7:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    color: #fff;
    background: #B83C5F;
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7:before{
     height: 0%;
     width: 2px;
  }
  .btn-7:after {
    width: 0%;
    height: 2px;
    color: #fff;
  }
  .btn-7:hover{
    color: #fff;
  }
  .btn-7:hover:before {
    height: 100%;
  }
  .btn-7:hover:after {
    width: 100%;
    color: #fff
;  }
  .btn-7 span:before,
  .btn-7 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #B83C5F;
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-7 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-7 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-7 span:hover:before {
    height: 100%;
  }
  .btn-7 span:hover:after {
    width: 100%;
  }
  

/* 9 */
.btn-9 {
  background: linear-gradient(0deg, #AB3597 0%, #6B2D71);
    line-height: 42px;
    padding: 0;
    border: none;
    color: #fff;
  }
  .btn-9 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-9:before,
  .btn-9:after {
    position: absolute;
    content: "";
    right: 0;
    bottom: 0;
    background: #6B2D71;
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-9:before{
     height: 0%;
     width: 2px;
  }
  .btn-9:after {
    width: 0%;
    height: 2px;
  }
  .btn-9:hover{
    
  }
  .btn-9:hover:before {
    height: 100%;
  }
  .btn-9:hover:after {
    width: 100%;
  }
  .btn-9 span:before,
  .btn-9 span:after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    background: #6B2D71;
    box-shadow:
     -7px -7px 20px 0px rgba(255,255,255,.9),
     -4px -4px 5px 0px rgba(255,255,255,.9),
     7px 7px 20px 0px rgba(0,0,0,.2),
     4px 4px 5px 0px rgba(0,0,0,.3);
    transition: all 0.3s ease;
  }
  .btn-9 span:before {
    width: 2px;
    height: 0%;
  }
  .btn-9 span:after {
    height: 2px;
    width: 0%;
  }
  .btn-9 span:hover:before {
    height: 100%;
  }
  .btn-9 span:hover:after {
    width: 100%;
  }
  
  /* 14 */
.btn-14 {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-14:after {
  position: absolute;
  content: "";
  z-index: -1;
  border-radius: 50%;
  background-color: #eaf818;
  background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-14:hover {
  color: #000;
}
.btn-14:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-14:active {
  top: 2px;
}

.feliz{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  color: #00A507;
}

.sad{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #E30613;
}

.chat-container {
  width: 300px;
  height: 500px;
  border: 1px solid #ddd;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.chat-header {
  padding: 5px;
  background-color: #F31260;
  text-align: center;
  border-radius: 50px;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.chat-input {
  padding: 10px;
}

#message-input {
  width: 80%;
  padding: 5px;
}

#message-form button {
  width: 15%;
  padding: 5px;
}


.bot-message {
  background-color: #e6e6e6;
  color: #000;
  align-self: flex-end;
}

.user-message {
  background-color: #34B7F1;
  color: #fff;
  align-self: flex-start;
}

.chat-messages {
  display: flex;
  flex-direction: column;
  max-height: 70vh;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  margin: 5px 0;
  padding: 10px;
  border-radius: 10px;
}

.bot-message {
  background-color: #e6e6e6;
  color: #000;
  align-self: flex-start;
}

.user-message {
  background-color:  rgba(255, 200, 55, 0.71);
  color: #000;
  align-self: flex-end;
}

.text-center{
  text-align: center;
}

.custom-btn:hover {
  background-color: inherit;
  color: #fff;
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  z-index: 1;
}

.lightbox-content {
  margin: auto;
  display: block;
  max-width: 80%;
  max-height: 80%;
  padding: 0;
  box-sizing: border-box;
  margin-top: 50px;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
  color: white;
}
.carousel img {
                          max-width: 250px;
                          /* Establece el tamaño máximo en 100px */
                          height: 250px;
                          /* Mantiene la proporción de aspecto original */
                      }
                      .carousel-control-prev-icon, .carousel-control-next-icon {
      background-color: black; /* Cambia el color de fondo a negro */
  }

  .navbar-nav .dropdown-menu {
    background-color: #fff; /* Asegura que el fondo de los menús desplegables sea blanco */
  }
  .navbar-nav .nav-link {
    color: #333; /* Color del texto de los enlaces */
  }
  .navbar-nav .nav-link:hover {
    color: #007bff; /* Color del texto al pasar el mouse */
  }
  .navbar .navbar-toggler {
    border-color: #007bff; /* Color del borde del botón del menú colapsable */
  }
  .navbar-brand img {
    max-width: 100%; /* Asegura que el logo responda bien */
    height: auto;
  }


  