<!--CESAR-->
<!-- <nav>
    <a href="/">Inicio</a>
    <a href="/productos" >Dulces</a>
    <div class="dropdown">
        <button class="dropbtn">Categorias</button>
            <div class="dropdown-content">
                <a href="#">Polvorosos</a>
                <a href="#">Chocolates</a>
                <a href="#">Caramelo Suave</a>
                <a href="#">Biscochos</a>
                <a href="#">Picosos</a>
                <a href="#">Típicos</a>
                <a href="#">Paletas</a>
            </div>
        </div>
     <a href="/about" class="nav-link">Acerca de</a> 
    <input type="text" name="busqueda" placeholder="Buscar dulce">
    {{#if user}}
    <a href="/perfil">Perfil</a>
    <a href="/usuarios/logout">Cerrar sesión</a>
    {{else}}
    <a href="/usuarios/signin">Acceder</a>
    <a href="/usuarios/signup">Registrar</a>
    {{/if}} --> 




<nav class="navbar navbar-expand-lg bg-white sombra  mb-4 mx-4">
  <div class="container-fluid mx-auto">
    <a class="navbar-brand" href="/">
      <img src="/images/000Logo.png" alt="" class="img-fluid" width="170">
    </a>
    <button class="navbar-toggler align-items-end"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

      </button>

      
    <center>
    
    <div class="collapse navbar-collapse btn-outline-danger" id="navbarScroll">
      
      <ul class="navbar-nav me-auto my-5 pe-lg-5 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
      <form class="d-flex pe-lg-5 ps-lg-5 me-lg-5 ms-lg-5" role="search">
        <input class="form-control  rectangulo3 me-2 ms-5" type="search" placeholder="Dulce o categoria" aria-label="Search">
        <button class="btn btn-outline-danger bordecito me-4 " type="submit">Buscar</button>
      </form>

          
          <a class="nav-link dropdown-toggle me-2 " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu mac ">
            <li><a class="dropdown-item me-2 text-white" href="#"> 
              <svg class="me-2" fill="rgba(243, 243, 243, 1)" xmlns="http://www.w3.org/2000/svg" width="16" viewBox="0 0 137.72 162.15"><defs><style>.cls-1{stroke:#1d1d1b;stroke-miterlimit:10;stroke-width:0.75px;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M136.66,120.78C134,106.51,124.74,98.08,111,94.28a2.79,2.79,0,0,1-2.42-2.53A34.1,34.1,0,0,0,98.12,73a3.44,3.44,0,0,1-.7-2.87c1.87-6.66,2.24-13.32,0-20a24.93,24.93,0,0,0-3.08-6.28c-2.31-3.37-4.95-6.51-7.4-9.77-3.11-4.14-3.17-7.75-.29-12.15,1.19-1.83,2.36-3.68,3.7-5.74-4-2.53-7.81-4.8-11.5-7.25C74.7,6.18,70.61,3.24,66.47.38H65.4C64.22,2.07,63,3.76,61.88,5.47S59.47,9,58.33,10.8c-2.9,4.59-7,6.73-12.47,6.8-8.49.12-16.25,2.45-22.88,8.06C11.78,35.16,8,48,12.42,62a2.57,2.57,0,0,1-.83,3.18C7.75,68.67,5.36,73.07,3.1,77.67A27.47,27.47,0,0,0,1.45,97.32a33.12,33.12,0,0,0,9.92,16.62c1.37,1.21,1.46,2.15.91,3.85-3.41,10.49-2.09,20.56,4.42,29.39,5.62,7.63,13.24,12.73,22.93,14.13a5.75,5.75,0,0,1,1.18.46H49.9c.51-.15,1-.35,1.51-.46,8-1.59,15-4.88,20.4-11.11.85-1,1.64-2,2.33-2.88,2.27,2,4.35,3.84,6.55,5.58,13.33,10.55,31.62,10.66,45.58-1.22C135.64,143.71,138.91,132.8,136.66,120.78Zm-70.61,21c-8.22,10.17-20.65,14-33.81,6.7C25.92,145,22.35,139.12,21.12,132s.92-13.5,5.11-19.66c-9.37-4.9-15.64-11.75-15.59-22.74s6.28-17.67,15.5-22.45c-.85-1.55-1.55-2.78-2.21-4-5.6-10.36-3.59-22.24,5.24-30,4.37-3.84,9.72-5.36,15.41-5.86,12.76-1.14,16-2.94,24-13.43L76.46,19c-1.35,2-2.54,3.86-3.78,5.68-4.16,6.12-5.06,12.75-3.26,19.85s1.28,13.71-3,19.62c-2,2.8-5,4.91-7.64,7.24a34.55,34.55,0,0,1-4,2.66c7.15,10.44,7.12,20.86,0,31.36,7.84,4.54,14.29,10,15.35,19.41C70.86,130.94,70,136.92,66.05,141.79Zm60.22-7c-3.26,9.83-15.14,17-25.46,16-9-.93-15.84-4.9-20.06-13a9.46,9.46,0,0,1-.63-4c-.08-3.72.66-7.6-.15-11.13-1.65-7.11-4.77-13.68-10.32-18.76-1.15-1-1.62-1.83-1-3.55a32.05,32.05,0,0,0,0-21.18,2.71,2.71,0,0,1,.8-3.43c4.54-4.07,7.14-9.34,9.35-15,2.06-5.18,1.94-10.33,1.13-15.58-.28-1.75-1.14-3.4-2-5.83,5.84,4.78,9.43,10,10.49,16.79s-1.06,13-4.87,19.07c11.09,5.71,17.36,14.3,15.87,27.32,3.16.4,6.18.33,8.87,1.23,3.54,1.19,7.39,2.52,10.14,4.91C126.64,115.8,129.83,124.11,126.27,134.82Z"/><path class="cls-1" d="M45.4,113.67c-7-.13-15.23,6.47-15.17,14.49s8.1,14.42,15,14.41c8.54,0,15-6.1,15-14.33S53.9,113.83,45.4,113.67Zm0,19.22a4.58,4.58,0,0,1-4.75-4.64,4.63,4.63,0,0,1,4.56-4.87c2.45.09,5.55,1.49,5.28,4.67C50.52,130.94,48.53,132.84,45.39,132.89Z"/><path class="cls-1" d="M45.33,36.8c-7.2,0-15.16,6.56-15.08,14.57s8.36,14.74,15.29,14.26c8.35-.06,14.74-6.29,14.68-14.33C60.18,43,53.82,36.85,45.33,36.8ZM45.39,56a4.62,4.62,0,0,1-4.81-4.61c0-2.53,2.14-5,4.62-4.88,2.7.19,5.4,1.43,5.31,4.69C50.57,54.09,48.58,56,45.39,56Z"/><path class="cls-1" d="M50.54,89.66c.71-7.47-8-14.63-15-14.47-8.22.19-14.75,6.48-14.73,14.45,0,8.39,6.43,14.23,15.13,14.51C42.47,104.36,51.5,96.86,50.54,89.66ZM35.68,94.47c-3,0-5.32-2-5.33-4.78s2.46-4.82,5.37-4.79a4.82,4.82,0,0,1,4.69,4.83A4.73,4.73,0,0,1,35.68,94.47Z"/></g></g></svg>
              Polvorosos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="#">
              <?xml version="1.0"  encoding="utf-8"?><svg class="me-2" fill="rgba(243, 243, 243, 1)" version="1.1" id="Layer_1" width="18" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.27 122.88" style="enable-background:new 0 0 122.27 122.88" xml:space="preserve"><g><path d="M92.81,45.88l28.44,28.44c0.68,0.68,1.02,1.57,1.02,2.46c0,0.89-0.34,1.78-1.02,2.46l-42.63,42.63 c-0.06,0.06-0.13,0.12-0.2,0.18c-0.65,0.56-1.45,0.84-2.26,0.84c-0.89,0-1.78-0.34-2.46-1.02L45.34,93.49l-0.63,1.73 c-0.42,1.16-1.71,1.77-2.87,1.34c-0.32-0.12-0.6-0.3-0.82-0.52l0,0L28.02,83.06c-0.88-0.88-0.88-2.3,0-3.18l51.86-51.86 c0.88-0.88,2.3-0.88,3.18,0l13.2,13.2c0.88,0.88,0.88,2.3,0,3.18c-0.28,0.28-0.62,0.47-0.98,0.57L92.81,45.88L92.81,45.88z M47.03,88.83l29.13,29.13l41.18-41.18l-29.2-29.2l-11.16,4.08l-5.17,18.43c-0.22,0.77-0.81,1.33-1.52,1.54l0,0l-19.07,5.69 L47.03,88.83L47.03,88.83z M0.66,44.67L44.67,0.66c0.88-0.88,2.3-0.88,3.18,0l31.28,31.28c0.88,0.88,0.88,2.3,0,3.18L35.12,79.14 c-0.88,0.88-2.3,0.88-3.18,0L0.66,47.85C-0.22,46.98-0.22,45.55,0.66,44.67L0.66,44.67z M46.26,5.43L5.43,46.26l28.1,28.1 l40.84-40.84L46.26,5.43L46.26,5.43z M32.78,16.51c-0.88-0.88-0.88-2.3,0-3.18c0.88-0.88,2.3-0.88,3.18,0l30.5,30.5 c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0L32.78,16.51L32.78,16.51z M16,60.01c-0.88,0.88-2.3,0.88-3.18,0 c-0.88-0.88-0.88-2.3,0-3.18l44.02-44.02c0.88-0.88,2.3-0.88,3.18,0c0.88,0.88,0.88,2.3,0,3.18L16,60.01L16,60.01z M23.28,26.46 c-0.88-0.88-0.88-2.3,0-3.18c0.88-0.88,2.3-0.88,3.18,0l30.61,30.61c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0 L23.28,26.46L23.28,26.46z M28,70.16c-0.88,0.88-2.3,0.88-3.18,0c-0.88-0.88-0.88-2.3,0-3.18l42.24-42.24 c0.88-0.88,2.3-0.88,3.18,0c0.88,0.88,0.88,2.3,0,3.18L28,70.16L28,70.16z M13.25,35.87c-0.88-0.88-0.88-2.3,0-3.18 c0.88-0.88,2.3-0.88,3.18,0l30.85,30.85c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0L13.25,35.87L13.25,35.87z"/></g></svg>
              Chocolates</a></li>
            <li><a class="dropdown-item me-2 text-white" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 640 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M624.1 319C628.3 322.4 630.6 326.7 631.5 331.3C632.4 335.1 631.1 340.8 630.2 345.2C628.3 349.6 625.3 353.3 621.3 355.9C617.4 358.6 612.7 359.1 608 360C604.3 360 600.6 359.1 597.3 357.5L504 310.8C492.2 350.4 467.9 385.2 434.8 409.9C401.6 434.6 361.4 447.1 320 447.1C278.7 447.1 238.4 434.6 205.3 409.9C172.1 385.2 147.8 350.4 136 310.8L42.72 357.5C39.4 359.2 35.73 360 32 360C27.26 359.1 22.62 358.6 18.68 355.9C14.74 353.3 11.66 349.6 9.85 345.2C8.035 340.8 7.56 335.1 8.484 331.3C9.409 326.7 11.69 322.4 15.04 319L45.57 288.3L16.42 278.7C11.65 277.1 7.494 273.1 4.554 269.9C1.613 265.8 .0312 260.9 .0312 255.9C.0312 250.8 1.613 245.9 4.554 241.8C7.494 237.8 11.65 234.7 16.42 233.1L45.57 223.5L15.04 192.1C11.03 188.9 8.576 183.6 8.123 177.9C7.671 172.3 9.247 166.6 12.57 161.1C15.9 157.4 20.75 154.1 26.28 152.7C31.8 151.4 37.63 151.1 42.72 154.5L135.1 201.2C147.8 161.6 172.1 126.8 205.2 102.1C238.4 77.38 278.6 64.03 319.1 64.03C361.3 64.03 401.6 77.38 434.7 102.1C467.9 126.8 492.2 161.6 503.1 201.2L597.3 154.8C602.4 152.3 608.2 151.7 613.7 153.1C619.2 154.4 624 157.7 627.4 162.3C630.7 166.9 632.3 172.5 631.8 178.2C631.4 183.9 628.1 189.2 624.1 193.2L594.4 223.7L623.6 233.3C628.4 234.9 632.5 238 635.5 242.1C638.4 246.2 639.1 251.1 639.1 256.1C639.1 261.2 638.4 266.1 635.5 270.2C632.5 274.3 628.4 277.3 623.6 278.9L594.4 288.5L624.1 319zM406.4 370.5L280.3 118.4C263.4 123.2 247.6 131 233.6 141.5L359.7 393.6C376.6 388.8 392.4 380.1 406.4 370.5zM214.3 353.4C238.9 379.9 272.6 396.2 308.6 398.1L198.7 179.2C183.1 202.1 176.1 228.8 176 256C176.1 292.1 189.8 326.9 214.3 353.4zM463.7 263.3C465 238.5 459.9 213.9 448.8 191.7C437.7 169.6 421.1 150.7 400.5 136.9C379.9 123.1 356.1 114.9 331.4 113.2L441.3 332.8C454.7 311.1 462.4 287.1 463.7 263.3L463.7 263.3z"/></svg>
              Caramelo Suave</a></li>
            <li><a class="dropdown-item me-2 text-white" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M431.9 178C442.8 193.7 448.4 212.4 447.1 231.5C447.5 250.6 441 269 429.4 284.2C417.8 299.3 401.7 310.4 383.4 315.8L356.4 485.2C355.2 492.7 351.4 499.5 345.6 504.4C339.8 509.3 332.5 511.1 324.9 512H300.1L324.1 320H291.9L267.9 512H180.1L156.1 320H123.9L147.9 512H123.1C115.6 512 108.2 509.3 102.5 504.5C96.7 499.6 92.83 492.9 91.55 485.4L64.61 315.8C46.3 310.4 30.18 299.3 18.57 284.2C6.963 269 .4654 250.6 .0171 231.5C-.4315 212.4 5.192 193.7 16.08 178C26.96 162.4 42.54 150.5 60.58 144.3L80.64 133.9C83.09 114.6 92.51 96.85 107.1 83.97C121.7 71.1 140.5 64 160 64H197.5C201.8 64.06 205.9 62.82 209.5 60.45C213 58.08 215.8 54.68 217.3 50.72C219 46.81 219.5 42.47 218.6 38.3C217.8 34.12 215.7 30.29 212.7 27.33C210.4 25.09 208.9 22.24 208.3 19.13C207.7 16.02 207.1 12.8 209.2 9.873C210.4 6.946 212.5 4.445 215.1 2.687C217.7 .9296 220.8-.0057 223.1 0C260.5 .0403 295.6 13.9 322.2 38.77C348.9 63.65 365.1 97.71 367.6 134.1L387.4 144.3C405.5 150.5 421 162.4 431.9 178H431.9zM385.1 261.9C392.8 255.4 397.9 246.4 399.5 236.4C401.1 226.5 399.2 216.3 393.9 207.7C388.7 199 380.6 192.6 371 189.4C369.5 188.9 367.9 188.2 366.5 187.5L337.3 172.4C332.1 169.8 327.7 165.7 324.7 160.7C321.6 155.6 319.1 149.9 320 144C319.1 125.9 314.9 108.1 305.2 92.8C295.5 77.47 281.7 65.19 265.4 57.38C264.5 61.38 263.3 65.3 261.7 69.09C256.5 81.81 247.6 92.68 236.1 100.3C224.7 107.1 211.3 112 197.5 112H160C151.5 112 143.4 115.4 137.4 121.4C131.4 127.4 128 135.5 128 144C128 149.9 126.4 155.6 123.3 160.7C120.3 165.7 115.9 169.8 110.7 172.4L81.54 187.5C80.06 188.2 78.55 188.9 76.99 189.4C67.42 192.6 59.3 199 54.07 207.7C48.85 216.3 46.86 226.5 48.48 236.4C50.09 246.4 55.2 255.4 62.88 261.9C70.57 268.5 80.32 272 90.4 272H357.6C367.7 272 377.4 268.5 385.1 261.9z"/></svg>
              Biscochos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M466.1 131.9c20.17-38.03 18.29-85.58-6.73-121.7C454.7 3.586 447.4 0 439.8 0c-4.701 0-9.459 1.396-13.65 4.316c-10.77 7.578-13.44 22.55-5.896 33.41c13.13 18.91 14.38 42.79 6.244 63.63C403.2 88.17 376.8 80 348.4 80c-35.81 0-70.13 12.17-99.26 35.18C242.1 120.1 239.5 127.7 240 135.6c.498 7.885 4.836 15.02 11.59 19.09l44.97 27.06V272.2c0 13.27 10.74 24.03 23.97 24.03h91.61l32.99 45.79C449.7 348.3 456.9 352 464.6 352c.2031 0 .4062 0 .6094-.0156c7.91-.1875 15.21-4.303 19.51-10.95C502.6 313.4 512 281.3 512 248.2C512 203 494.4 162.2 466.1 131.9zM419.2 360.7c1.236 1.719 2.834 3.066 4.242 4.617C356 438.3 232.4 512 73.31 512C32.89 512 0 478.7 0 437.9s32.89-74.13 73.31-74.13c71.69 0 102.4-67.67 132-133.1c8.455-18.65 16.82-35.88 25.75-51.73c1.385 1.02 2.557 2.266 4.045 3.162l29.47 17.74v17.96c-5.174 10.43-10.33 21.41-15.63 33.09c-32.61 71.91-73.19 161.4-175.7 161.4C59.36 412.3 48 423.8 48 437.9s11.36 25.6 25.31 25.6c144.4 0 257.6-69.07 315.6-132h9.217L419.2 360.7z"/></svg>
              Picosos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="#">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 0C100.2 0 0 100.2 0 224v128c0 88.38 71.62 160 160 160h128c88.38 0 160-71.63 160-160V224C448 100.2 347.8 0 224 0zM400 352c0 61.75-50.25 112-112 112H160c-61.75 0-112-50.25-112-112V224c0-97 79-176 176-176s176 79 176 176V352zM226.5 226.2c-.875-.75-4.25-.75-5.125 0c-8.125-38-39.41-66.21-77.41-66.21L76 160C69.38 160 64 165.4 64 172v30.75C64 249.8 99.75 288 144 288h22.38c-7.375 12.25-12.5 23.5-15.75 32.88C119.8 325.5 96 351.9 96 384c0 35.5 29.38 64 64.88 64H287c35.5 0 64.88-28.5 64.88-64c0-32.13-23.62-58.5-54.63-63.13C293.1 311.4 288.9 300.2 281.5 288H304C348.2 288 384 249.8 384 202.8V172C384 165.4 378.6 160 372 160h-67.97C266.2 160 234.8 188.2 226.5 226.2zM224 266.8C244.2 286.6 255.9 305.2 262.8 320h-77.5C192.1 305.2 203.8 286.6 224 266.8zM144 256C117.5 256 96 232.1 96 202.8V192h48C170.5 192 192 215.9 192 245.2V254C191.4 254.8 190.8 255.2 190.2 256H144zM288 352c17.62 0 32 14.38 32 32s-14.38 32-32 32H160c-17.62 0-32-14.38-32-32s14.38-32 32-32H288zM352 202.8C352 232.1 330.5 256 304 256h-46.25C257.2 255.2 256.6 254.8 256 254V245.2C256 215.9 277.5 192 304 192H352V202.8z"/></svg>
              Tipicos</a></li>
            <li><a class="dropdown-item me-2 text-white " href="#">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M511.4 487.8C511.3 494 508.8 499.1 504.4 504.4C499.1 508.8 494 511.3 487.8 511.4C481.6 511.5 475.6 509.2 471 504.1L309.5 343.5C270.8 373.6 222.1 387.7 173.3 383.2C124.5 378.6 79.33 355.6 46.9 318.8C14.48 282.1-2.718 234.3-1.187 185.3C.3434 136.4 20.49 89.8 55.14 55.14C89.8 20.49 136.4 .3434 185.3-1.187C234.3-2.718 282.1 14.48 318.8 46.9C355.6 79.33 378.6 124.5 383.2 173.3C387.7 222.1 373.6 270.8 343.5 309.5L504.1 471C509.2 475.6 511.5 481.6 511.4 487.8H511.4zM278.9 306.2C301.3 289.2 318.3 266.1 327.7 239.6C337.1 213.1 338.6 184.5 331.9 157.2C325.2 129.9 310.7 105.1 290.1 85.98C269.6 66.83 243.9 54.12 216.2 49.4C188.5 44.69 159.1 48.18 134.2 59.45C108.5 70.72 86.62 89.28 71.3 112.8C55.98 136.4 47.88 163.9 48 192C48 219.6 58.96 246 78.46 265.5C97.97 285 124.4 296 152 296C179.6 296 206 285 225.5 265.5C245 246 256 219.6 256 192C256 175 249.3 158.7 237.3 146.7C225.3 134.7 208.1 128 192 128C175 128 158.7 134.7 146.7 146.7C134.7 158.7 128 175 128 192C128 198.4 130.5 204.5 135 208.1C139.5 213.5 145.6 216 152 216C158.4 216 164.5 213.5 168.1 208.1C173.5 204.5 176 198.4 176 192C176 185.6 178.5 179.5 183 175C187.5 170.5 193.6 168 200 168C206.4 168 212.5 170.5 216.1 175C221.5 179.5 224 185.6 224 192C224 211.1 216.4 229.4 202.9 242.9C189.4 256.4 171.1 264 152 264C132.9 264 114.6 256.4 101.1 242.9C87.59 229.4 80 211.1 80 192C80 162.3 91.8 133.8 112.8 112.8C133.8 91.8 162.3 80 192 80C221.7 80 250.2 91.8 271.2 112.8C292.2 133.8 304 162.3 304 192C303.9 223.5 293.1 254.2 275.6 279.9C257.3 305.5 231.4 324.8 201.6 335C229.6 333.2 256.5 323.1 278.9 306.2z"/></svg>  
              Paletas</a></li>
          
          </ul>
          
        </li>
        <li class="nav-item pe-lg-3 ms-3">
          <a class="nav-link " href="/productos">Dulces</a>
        </li>
        {{#if user}}
      <blockquote></blockquote>
      <li class="nav-item dropdown pe-lg-1  me-lg-1 ">
        <a href="/usuarios/logout">Cerrar sesión</a>
      </li>
      {{else}}
      <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/usuarios/signin">Ingresar</a>
        </li>
        <li class="nav-item ms-3 me-0 ">
          <a class="nav-link hola text-white fw-bold" href="/usuarios/signup">Registrate</a>
          {{/if}}
        </li>
      
      </ul>
      
      </center>
      
    </div>
    
  </div>
</nav>