<!--CESAR-->
<!-- <nav>
    <a href="/">Inicio</a>
    <a href="/productos" >Dulces</a>
    <div class="dropdown">
        <button class="dropbtn">Categorias</button>
            <div class="dropdown-content">
                <a href="#">Polvorosos</a>
                <a href="#">Chocolates</a>
                <a href="#">Caramelo Suave</a>
                <a href="#">Biscochos</a>
                <a href="#">Picosos</a>
                <a href="#">Típicos</a>
                <a href="#">Paletas</a>
            </div>
        </div>
     <a href="/about" class="nav-link">Acerca de</a> 
    <input type="text" name="busqueda" placeholder="Buscar dulce">
    {{#if user}}
    <a href="/perfil">Perfil</a>
    <a href="/usuarios/logout">Cerrar sesión</a>
    {{else}}
    <a href="/usuarios/signin">Acceder</a>
    <a href="/usuarios/signup">Registrar</a>
    {{/if}} --> 


<nav class="navbar navbar-expand-lg bg-white sombra justify-content-center mb-4 mx-4">
  <div class="container-fluid mx-auto">
    <a class="navbar-brand" href="/">
      <img src="/images/000Logo.png" alt="" class="img-fluid" width="170">
    </a>
    

    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

      </button>
      
      
    <center>
       
    
    <div class="collapse navbar-collapse btn-outline-danger" id="navbarScroll">
      
      <ul class="navbar-nav me-auto my-5 pe-lg-5 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
      <form class="d-flex pe-lg-5 ps-lg-5 me-lg-5 ms-lg-5" role="search" action="/producto/search" method="POST">
        <input class="form-control  rectangulo3 me-2 ms-5" name="item" type="search" placeholder="Dulce o categoria" aria-label="Search"></input> 
        <button class="btn btn-outline-danger  " type="submit">Buscar</button>
      </form>
          <a href="/usuarios/chatbot" class="my-2 mx-4 ">
            <img src="/images/00chatbot.png" alt="" class="img-fluid" width="120">
          </a>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu mac">
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/polvoroso">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 165.34 156.75"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><g id="Dust"><path class="cls-1" d="M150.22,81.76a25.85,25.85,0,0,0-22.94-22.93,18.1,18.1,0,0,0-3.93-19.45l-.73-.66c3.3-1.29,5.29-2.38,5.55-4.93s-2.11-4.4-5.72-6.61A27.17,27.17,0,0,1,111.64,14c-1.55-4-2.58-6.61-5.46-6.88s-4.39,2.12-6.61,5.72a27.52,27.52,0,0,1-4.79,5.59A25.83,25.83,0,0,0,52.42,36.47,18,18,0,0,0,30.19,58.73a25.85,25.85,0,0,0-4.92,50.75A27.3,27.3,0,0,1,21,112.2c-3.8,1.91-6.31,3.3-6.31,6.08s2.51,4.2,6.31,6.12a27.21,27.21,0,0,1,12.07,12c1.92,3.84,3.31,6.35,6.09,6.35s4.2-2.51,6.11-6.35c.23-.49.6-1,.9-1.45a17.7,17.7,0,0,0,6.38-1.32,25.86,25.86,0,0,0,51.42,0,17.92,17.92,0,0,0,23.41-23.38l-.1,0A25.87,25.87,0,0,0,150.22,81.76ZM105.09,16.37l.23-.37v.4a34,34,0,0,0,13.73,16.3l.33.23H119a34,34,0,0,0-16.5,13.63,1.78,1.78,0,0,1-.23.33v-.37A34,34,0,0,0,88.79,30.19L88.46,30h.36A34.13,34.13,0,0,0,105.09,16.37Zm-50.86,102a33.91,33.91,0,0,0-15,15l-.29.5v-.37a34,34,0,0,0-15-15l-.37-.2.37-.16a34.73,34.73,0,0,0,15-15v-.37l.2.37A34,34,0,0,0,54.23,118l.37.16Zm72.88-14.62a19.32,19.32,0,0,1-2.74.2,18.48,18.48,0,0,1-2.78-.2,3.29,3.29,0,0,0-2.74,5.56,11.41,11.41,0,0,1-.17,15.74h-.1a11.41,11.41,0,0,1-15.9,0,3.31,3.31,0,0,0-5.46,2.88,20.31,20.31,0,0,1,.2,2.81,19.25,19.25,0,1,1-38.49,0h0a20.31,20.31,0,0,1,.2-2.81,3.32,3.32,0,0,0-1.75-3.31h-.2c3.83-1.92,6.35-3.31,6.35-6.12s-2.52-4.16-6.35-6.08a27.1,27.1,0,0,1-12-12c-1.91-3.8-3.3-6.31-6.11-6.31s-4.17,2.51-6.09,6.31a26.09,26.09,0,0,1-2.15,3.54,19.24,19.24,0,0,1,1.75-38.45,17.47,17.47,0,0,1,2.39.26,3.31,3.31,0,0,0,3.3-5.2A11.34,11.34,0,0,1,54.1,44.77a3.39,3.39,0,0,0,5.19-3.31A19.21,19.21,0,0,1,89.05,22.52a27.7,27.7,0,0,1-2.64,1.25c-4,1.56-6.61,2.58-6.88,5.49s2.12,4.4,5.72,6.62A27.09,27.09,0,0,1,96.06,49.1c1.56,4,2.58,6.62,5.49,6.88H102c2.62,0,4.07-2.31,6.22-5.75a28,28,0,0,1,7.8-7.94,11.25,11.25,0,0,1,2.72,1.92,11.41,11.41,0,0,1,0,15.9,3.31,3.31,0,0,0,2.87,5.56,19.24,19.24,0,1,1,5.52,38.09Z"/><path class="cls-1" d="M35.58,22.68a15.84,15.84,0,1,0-15.74,16,15.83,15.83,0,0,0,15.74-16Zm-25,0a9.26,9.26,0,1,1,0,.2v-.2Z"/><path class="cls-1" d="M157.47,13.23a13.23,13.23,0,1,0-13.23,13.22,13.23,13.23,0,0,0,13.23-13.22Zm-19.84,0a4.69,4.69,0,1,1-.07.06v-.06Z"/><path class="cls-1" d="M165.34,137.36a13.23,13.23,0,1,0-13.23,13.23A13.22,13.22,0,0,0,165.34,137.36Zm-19.84,0a6.61,6.61,0,1,1,6.61,6.62A6.61,6.61,0,0,1,145.5,137.36Z"/><path class="cls-1" d="M11.47,155.45a11.44,11.44,0,1,0-.06,0Zm0-16.3A4.86,4.86,0,1,1,6.61,144v0A4.86,4.86,0,0,1,11.47,139.15Z"/></g></g></g></svg>
              Polvorosos </a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/caramelo_suave">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" viewBox="0 0 161.08 96.55"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M157.3,64.27a5.16,5.16,0,0,1,1.86,3.1,9.37,9.37,0,0,1-.33,3.5,6,6,0,0,1-2.24,2.7,8.47,8.47,0,0,1-3.35,1,6.29,6.29,0,0,1-2.7-.63L127,62.2a48.4,48.4,0,0,1-92.76,0L10.76,74a5.89,5.89,0,0,1-2.7.63,8.46,8.46,0,0,1-3.36-1,6,6,0,0,1-2.23-2.7,6.34,6.34,0,0,1-.34-3.5,6.14,6.14,0,0,1,1.65-3.1l7.7-7.74L4.13,54.11a7.87,7.87,0,0,1-3-2.22,6.07,6.07,0,0,1,0-7.08,6.22,6.22,0,0,1,3-2.2l7.35-2.42-7.7-7.91A5.07,5.07,0,0,1,2,28.7a7.06,7.06,0,0,1,1.12-4.23,7,7,0,0,1,3.46-2.12,5.1,5.1,0,0,1,4.14.45L34,34.57a50.24,50.24,0,0,1,17.67-25,48.37,48.37,0,0,1,57.85,0,46.66,46.66,0,0,1,17.24,25l23.74-11.69a6,6,0,0,1,8.7,5.9,6.25,6.25,0,0,1-1.94,3.78l-7.49,7.68,7.36,2.42a6.2,6.2,0,0,1,3,2.22,6,6,0,0,1,.91,3.53,6,6,0,0,1-.91,3.56,6.15,6.15,0,0,1-3,2.19l-7.36,2.42Zm-54.87,13L70.64,13.7a35.92,35.92,0,0,0-11.77,5.83L90.65,83.07A41.13,41.13,0,0,0,102.43,77.25ZM54,72.94A35,35,0,0,0,77.77,84.2L50.07,29a34.31,34.31,0,0,0-5.72,19.36A36.34,36.34,0,0,0,54,72.94Zm62.86-22.71A36,36,0,0,0,83.52,12.39l27.7,55.35a37.41,37.41,0,0,0,5.65-17.51Z"/></g></g></svg>
              Caramelo Suave</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/biscocho">
              <svg xmlns ="http://www.w3.org/2000/svg" width="20"  viewBox="0 0 97.85 112"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M94.48,38.94a19.56,19.56,0,0,0-9.73-7.37l-4.33-2.24A31.51,31.51,0,0,0,48.81,0a3.32,3.32,0,0,0-1.75.59,3.48,3.48,0,0,0-1.29,1.57,2.43,2.43,0,0,0-.2,2,3.41,3.41,0,0,0,1,1.8,4.61,4.61,0,0,1,1.3,2.4,4.5,4.5,0,0,1-.29,2.71,4.53,4.53,0,0,1-1.71,2.13,4.6,4.6,0,0,1-2.62.78H35A17.48,17.48,0,0,0,17.65,29.29l-4.39,2.28a19.7,19.7,0,0,0,.88,37.51L20,106.18a7,7,0,0,0,6.9,5.82h5.43L27.11,70h7l5.25,42H58.61l5.25-42h7l-5.25,42h5.43a8.34,8.34,0,0,0,4.53-1.66,6.89,6.89,0,0,0,2.36-4.2l5.91-37.06a19.77,19.77,0,0,0,10.06-6.91,18.36,18.36,0,0,0,3.87-11.53A18.31,18.31,0,0,0,94.48,38.94ZM87.4,51.71a9.28,9.28,0,0,1-9.17,7.79H19.78a9.27,9.27,0,0,1-2.93-18.07,8.59,8.59,0,0,0,1-.41l6.38-3.31A6.74,6.74,0,0,0,27,35.15a7,7,0,0,0,1-3.65,7,7,0,0,1,7-7h8.2a16.71,16.71,0,0,0,8.44-2.56,14.9,14.9,0,0,0,5.6-6.83,14.37,14.37,0,0,0,.81-2.56,21.11,21.11,0,0,1,8.71,7.75A22.88,22.88,0,0,1,70,31.5a5.57,5.57,0,0,0,1,3.65,6.74,6.74,0,0,0,2.76,2.56L80.18,41a7.77,7.77,0,0,0,1,.41A9.29,9.29,0,0,1,87.4,51.71Z"/></g></g></svg>
              Biscochos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/picoso">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 116.45 116.45"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M106,30a26.85,26.85,0,0,0-1.53-27.68,5.44,5.44,0,1,0-8.9,6.26A15.41,15.41,0,0,1,97,23.05,35.42,35.42,0,0,0,56.66,26.2a5,5,0,0,0-2.08,4.64,5.48,5.48,0,0,0,2.64,4.34l10.23,6.16V61.91a5.45,5.45,0,0,0,5.45,5.46H93.73l7.51,10.42a5.46,5.46,0,0,0,4.43,2.27h.13a5.45,5.45,0,0,0,4.44-2.49A38.84,38.84,0,0,0,106,30ZM95.34,82a13.7,13.7,0,0,0,1,1C81,99.68,52.86,116.45,16.67,116.45a16.86,16.86,0,0,1,0-33.72c16.31,0,23.29-15.39,30-30.27,1.93-4.24,3.83-8.16,5.86-11.76.32.23.58.51.92.72l6.7,4v4.09c-1.17,2.37-2.35,4.87-3.55,7.52C49.2,73.42,40,93.77,16.66,93.77a5.83,5.83,0,0,0,0,11.65c32.84,0,58.59-15.71,71.78-30h2.1Z"/></g></g></svg>
              Picosos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/tipico">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 95.19 108.78"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M47.6,0A47.57,47.57,0,0,0,0,47.59V74.78a34,34,0,0,0,34,34H61.2a34,34,0,0,0,34-34V47.59A47.56,47.56,0,0,0,47.6,0ZM85,74.78A23.82,23.82,0,0,1,61.2,98.58H34a23.83,23.83,0,0,1-23.79-23.8V47.59a37.1,37.1,0,0,1,3.33-15.41v5c0,10,7.59,18.12,17,18.12h4.76a37.59,37.59,0,0,0-3.35,7,13.58,13.58,0,0,0,2.18,27h26.8A13.72,13.72,0,0,0,74.7,75.67,13.57,13.57,0,0,0,63.09,62.25a53.37,53.37,0,0,0-3.34-7h4.78c9.39,0,17-8.12,17-18.1V31.9a36.78,36.78,0,0,0-2-3.77,3.07,3.07,0,0,0-.53-.05H64.54c-8.05,0-14.72,6-16.48,14.06a1.3,1.3,0,0,0-1.09,0c-1.73-8.07-8.37-14.07-16.45-14.07H16.08a2.22,2.22,0,0,0-.37,0,37.34,37.34,0,0,1,63.8,0,2.56,2.56,0,0,1,2,2.49V31.9A37.1,37.1,0,0,1,85,47.59ZM55.77,62.07H39.31a38.47,38.47,0,0,1,8.22-11.31A39,39,0,0,1,55.77,62.07Zm-1.44-14V46.17c0-6.22,4.57-11.3,10.2-11.3h10.2v2.3c0,6.22-4.57,11.3-10.2,11.3H54.7C54.58,48.3,54.46,48.22,54.33,48.05Zm6.8,20.82a6.8,6.8,0,0,1,0,13.59H33.93a6.8,6.8,0,1,1,0-13.59ZM40.73,48.05c-.13.17-.26.25-.38.42H30.53c-5.63,0-10.2-5.08-10.2-11.3v-2.3h10.2c5.63,0,10.2,5.08,10.2,11.3Z"/></g></g></svg>
              Tipicos</a></li>
            <li><a class="dropdown-item me-2 text-white " href="/productos-category/paleta">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 121.82 121.82"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M120.08,112.22,81.92,73.85a45.82,45.82,0,1,0-8.07,8.07l38.37,38.16a5.14,5.14,0,0,0,4,1.74,5.67,5.67,0,0,0,5.61-5.61A5.14,5.14,0,0,0,120.08,112.22Zm-41.91-55a34.2,34.2,0,0,1-30,22.66A35.93,35.93,0,0,0,65.79,66.81a37.68,37.68,0,0,0,6.75-20.88,26.62,26.62,0,0,0-53.23,0,17.11,17.11,0,0,0,34.22,0,5.12,5.12,0,0,0-1.88-4,4.87,4.87,0,0,0-3.82-1.67,5.7,5.7,0,0,0-5.71,5.71,4.45,4.45,0,0,1-1.87,3.82,4.48,4.48,0,0,1-3.83,1.88,5.15,5.15,0,0,1-4-1.88,4.86,4.86,0,0,1-1.66-3.82A15.16,15.16,0,0,1,45.93,30.72a15.59,15.59,0,0,1,10.76,4.44,15.23,15.23,0,0,1,4.44,10.77,24.71,24.71,0,0,1-49.42,0A34.22,34.22,0,1,1,78.17,57.24Z"/></g></g></svg>
              Paletas</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/chicle">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 118.68 127.63"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M104.54,9.29,95.9,0,73.13,24.49,80,31.87a6.34,6.34,0,0,1,5.23-1.22c1.38.15,1.8.13,2.25-.36s.48-.93.33-2.42a6.84,6.84,0,0,1,1.58-6.18A5.75,5.75,0,0,1,95.12,20c1.38.16,1.8.13,2.25-.36s.48-.93.34-2.43A7.3,7.3,0,0,1,99.29,11a5.8,5.8,0,0,1,5.25-1.75Z"/><path class="cls-1" d="M118.68,24.49,108.51,13.56a7.38,7.38,0,0,1-3.92.38c-1.38-.15-1.8-.12-2.26.37s-.48.93-.34,2.43a7.23,7.23,0,0,1-1.58,6.17,6.13,6.13,0,0,1-5.73,1.7c-1.4-.16-1.81-.13-2.26.36s-.48.93-.33,2.42a6.82,6.82,0,0,1-1.58,6.17,5.72,5.72,0,0,1-5.73,1.69,4.81,4.81,0,0,0-1.65,0L95.91,49Z"/><path class="cls-1" d="M0,98.52,9.86,87.91,36.94,117l-9.87,10.61Z"/><path class="cls-1" d="M67.94,25.45l-55,59.19L40,113.76,95,54.57ZM38.41,76.51,68.83,43.79l3,3.27L41.46,79.78Zm6.09,6.54L74.92,50.33l3,3.27L47.54,86.32Z"/></g></g></svg>
              Chicles</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/gomita">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 93.19 134.82"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M62.25,47.82c0-4.14-3.12-7.77-8.06-9.47a7.89,7.89,0,0,0-15.42,0c-4.93,1.7-8.06,5.35-8.06,9.47v4.76a2.8,2.8,0,0,0,2.8,2.8H52.82a2.8,2.8,0,1,0,0-5.6H36.31v-2c0-1.42,1.32-2.86,3.35-3.8A7.89,7.89,0,0,0,53.3,44c2,.94,3.35,2.37,3.35,3.8a2.8,2.8,0,1,0,5.6,0ZM46.48,42.33A2.3,2.3,0,1,1,48.77,40,2.29,2.29,0,0,1,46.48,42.33ZM76.73,90.26A16.46,16.46,0,1,0,70.3,58.65,32.6,32.6,0,0,0,79,36.56a34.3,34.3,0,0,0-.24-3.94A17,17,0,1,0,59.08,5.92a68.32,68.32,0,0,0-12.6-1.85c-4,0-10.09,1.21-13.09,1.87A17,17,0,1,0,14.21,32.81,31.2,31.2,0,0,0,14,36.56a32.18,32.18,0,0,0,8.5,21.92,16.46,16.46,0,1,0-6,31.78c.49,0,1,0,1.47-.07v14.7A16.46,16.46,0,1,0,43.6,121.16h5.81a16.46,16.46,0,1,0,25.12-16.65V90.1A16,16,0,0,0,76.73,90.26Zm-6.84,17.61a2.68,2.68,0,0,0,1,1,10.86,10.86,0,1,1-13.5,2.38,2.8,2.8,0,0,0-4.24-3.67,16.51,16.51,0,0,0-3.77,8H43.6a16.51,16.51,0,0,0-3.77-8,2.8,2.8,0,0,0-4.24,3.67A10.85,10.85,0,1,1,22,108.9a2.72,2.72,0,0,0,.72-.54v0a1.46,1.46,0,0,0,.16-.19h0l.14-.21h0a2.65,2.65,0,0,0,.38-1v0l0-.24v-.06c0-.06,0-.12,0-.18V88.66A16.48,16.48,0,0,0,32.92,73.8a2.8,2.8,0,0,0-5.6,0,10.85,10.85,0,1,1-4.79-9,2.76,2.76,0,0,0,2.4.35,2.77,2.77,0,0,0,1.25.3,2.8,2.8,0,0,0,2-.81l1-1A37.66,37.66,0,0,0,44.72,67h6.85a2.8,2.8,0,0,0,0-5.6H44.72A32.06,32.06,0,0,1,30.1,57.88a26.88,26.88,0,0,1-5.87-36.42,2.8,2.8,0,0,0-4.64-3.15,32.4,32.4,0,0,0-4.23,8.89A11.41,11.41,0,1,1,29.94,10.63a2.8,2.8,0,0,0,3,1.16c.09,0,8.9-2.12,13.57-2.12s13,2.09,13,2.11a2.79,2.79,0,0,0,3-1.15A11.41,11.41,0,1,1,77.53,27a32.59,32.59,0,0,0-4.16-8.66,2.8,2.8,0,0,0-4.64,3.15,26.89,26.89,0,0,1-6.61,37,2.8,2.8,0,0,0,.18,4.68L65.49,65a2.83,2.83,0,0,0,1.45.4,2.88,2.88,0,0,0,1.28-.31,2.77,2.77,0,0,0,2.44-.34,10.86,10.86,0,1,1-4.78,9,2.8,2.8,0,0,0-5.6,0,16.45,16.45,0,0,0,8.65,14.48v17.49A2.76,2.76,0,0,0,69.89,107.87ZM32.76,34.68a4.56,4.56,0,1,1,4.56-4.56A4.56,4.56,0,0,1,32.76,34.68Zm22.73-4.56A4.56,4.56,0,1,1,60,34.68,4.56,4.56,0,0,1,55.49,30.12Z"/></g></g></svg>     
             Gomitas</a></li>
             <li><a class="dropdown-item me-2 text-white " href="/productos-category/bombon">
             <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 114.04 112.77"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M112.79,23a39.71,39.71,0,0,0-8.9-12.88A39.43,39.43,0,0,0,91,1.26c-4.9-1.92-9-1.64-11.39.8L50.84,30.83c-2.44,2.44-2.72,6.49-.8,11.39a36.28,36.28,0,0,0,6.2,10c-.57.38-1.12.77-1.63,1.17-4.15,3.25-6,6.87-5.1,10.21L49.89,65,34.43,49.57C32,47.13,28,46.84,23,48.76a39.71,39.71,0,0,0-12.88,8.9,39.43,39.43,0,0,0-8.9,12.89c-1.92,4.9-1.64,9,.8,11.39l28.77,28.77a7.55,7.55,0,0,0,5.51,2.06,16.29,16.29,0,0,0,5.88-1.25,39.74,39.74,0,0,0,12.89-8.9,49.53,49.53,0,0,0,3.47-3.86L59.66,103c.86,3.34,4.2,5.64,9.4,6.48a29.12,29.12,0,0,0,4.7.36,44.43,44.43,0,0,0,10.92-1.47,39.49,39.49,0,0,0,14.21-6.57c4.15-3.25,6-6.88,5.1-10.22,0,0-10-38.92-10.07-39.06L112,34.43c2.44-2.44,2.73-6.48.81-11.39ZM89.15,6a34.47,34.47,0,0,1,11.14,7.76,34.42,34.42,0,0,1,7.76,11.14c1.07,2.74,1.2,5.07.33,5.94s-3.2.74-5.93-.33A34.35,34.35,0,0,1,91.3,22.74,34.58,34.58,0,0,1,83.54,11.6c-1.07-2.74-1.2-5.07-.33-5.94a2.69,2.69,0,0,1,1.91-.57A11.58,11.58,0,0,1,89.15,6ZM54.77,40.37c-1.07-2.74-1.2-5.07-.33-5.94L78,10.88a19,19,0,0,0,.82,2.57,39.43,39.43,0,0,0,8.9,12.89,39.71,39.71,0,0,0,12.88,8.9,23.65,23.65,0,0,0,2.57.82L91.05,48.17a15.05,15.05,0,0,0-6.6-2.5,39.5,39.5,0,0,0-15.63,1.11,46.54,46.54,0,0,0-8,2.86,32.27,32.27,0,0,1-6-9.27Zm3,17A34.45,34.45,0,0,1,70.09,51.7a39.47,39.47,0,0,1,9.63-1.31,24.06,24.06,0,0,1,3.91.3c2.91.47,5,1.54,5.29,2.73s-1,3.13-3.31,4.94A34.17,34.17,0,0,1,73.26,64a34.51,34.51,0,0,1-13.54,1c-2.9-.47-5-1.54-5.28-2.73s1-3.13,3.31-4.95ZM6,72.4a34.58,34.58,0,0,1,7.76-11.14A34.35,34.35,0,0,1,24.9,53.5a11.53,11.53,0,0,1,4-.9,2.68,2.68,0,0,1,1.9.57c.87.87.74,3.2-.33,5.94a34.42,34.42,0,0,1-7.76,11.14A34.42,34.42,0,0,1,11.6,78c-2.74,1.07-5.07,1.2-5.94.33s-.74-3.2.33-5.94ZM51.51,99a34.32,34.32,0,0,1-11.14,7.76c-2.74,1.07-5.07,1.2-5.94.33L10.88,83.57a22.33,22.33,0,0,0,2.57-.82,39.74,39.74,0,0,0,12.89-8.9A39.84,39.84,0,0,0,35.24,61a21.07,21.07,0,0,0,.82-2.57L52.39,74.72l4.54,17.65A40.57,40.57,0,0,1,51.51,99Zm47.55-6.2c.31,1.19-1,3.13-3.3,5a34.58,34.58,0,0,1-12.35,5.65,34.3,34.3,0,0,1-13.54,1c-2.9-.47-5-1.54-5.28-2.73L56.28,69.45a19.54,19.54,0,0,0,2.63.6,29.37,29.37,0,0,0,4.71.35,44.26,44.26,0,0,0,10.91-1.46,39.54,39.54,0,0,0,14.22-6.57,22.52,22.52,0,0,0,2-1.79Z"/><path class="cls-1" d="M24.72,82.12a2.55,2.55,0,0,0-3.6,3.6L31.3,95.89a2.54,2.54,0,0,0,3.59-3.6L24.72,82.12Z"/><path class="cls-1" d="M78.12,21.09a2.52,2.52,0,0,0-3.59,0L63.08,32.53a2.55,2.55,0,0,0,3.6,3.6L78.12,24.68A2.52,2.52,0,0,0,78.12,21.09Z"/></g></g></svg>
              Bombones</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/chocolate">
              <svg xmlns="http://www.w3.org/2000/svg" width="20"   viewBox="0 0 122.27 122.89"><defs><style>.cls-1{fill:#ffffff;}</style></defs><g id="Capa_2" data-name="Capa 2"><g id="Capa_1-2" data-name="Capa 1"><path class="cls-1" d="M60,12.81a1.14,1.14,0,0,0-.17-.15l.32.32A1.14,1.14,0,0,0,60,12.81Zm2.06,33-6.54,6.55,6.55-6.54Zm0,0-6.54,6.55,6.55-6.54Z"/><path class="cls-1" d="M121.25,74.32,92.81,45.88,95.28,45a2.24,2.24,0,0,0,1-3.75L83.06,28a2.25,2.25,0,0,0-3.18,0l-2.33,2.34L47.85.66a2.25,2.25,0,0,0-3.18,0l-44,44a2.25,2.25,0,0,0,0,3.18L12.82,60,30.35,77.55,28,79.88a2.25,2.25,0,0,0,0,3.18L41,96a2.3,2.3,0,0,0,.82.52,2.24,2.24,0,0,0,2.87-1.34l.63-1.73L73.7,121.87a3.47,3.47,0,0,0,4.72.18l.2-.18,42.63-42.63a3.48,3.48,0,0,0,0-4.92ZM74.37,33.52l-9.11,9.11L60.4,37.77l9.1-9.11ZM39.6,36.42l6.54-6.55,7.9,7.9-6.55,6.54Zm4.71,11.07L37.77,54l-7.89-7.89,6.54-6.54ZM57.22,41l4.87,4.87-6.55,6.54-4.87-4.87Zm9.1-15.47-9.1,9.11-7.9-7.9,9.1-9.1Zm-20.06-20,9,9-9.1,9.1-9-9ZM34,17.71l9,9-6.54,6.55-9-9Zm-9.72,9.73,9,9L26.7,43l-9-9ZM5.43,46.26l9.11-9.1,9,9-9.11,9.1ZM26.7,49.32l7.89,7.89-9.1,9.11-7.9-7.9Zm6.83,25L28.67,69.5l9.1-9.11,4.87,4.87ZM41,57.21l6.54-6.54,4.87,4.87-6.54,6.54ZM76.16,118,47,88.83l4.19-11.51,19.07-5.69a2.24,2.24,0,0,0,1.52-1.54L77,51.66l11.16-4.08,29.2,29.2Z"/></g></g></svg>
              Chocolates</a></li>

          </ul>
          </form>
        </li>
        <li class="nav-item pe-lg-3 ms-3">
          <a class="nav-link " href="/productos">Dulces</a>
        </li>
        
        {{#if user}}
      <blockquote></blockquote>
      <li class="nav-item dropdown pt-2 ">
        <a href="/usuarios/logout">Cerrar sesión</a>
      </li>
      {{else}}
      <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/usuarios/signin">Ingresar</a>
        </li>
        <li class="nav-item ms-3 me-0 ">
          <a class="nav-link hola text-white fw-bold" href="/usuarios/signup">Registrate</a>
          {{/if}}
        </li>
      
      </ul>
      
      </center>
      
    </div>
    
  </div>
</nav>
