<!--CESAR-->
<!-- <nav>
    <a href="/">Inicio</a>
    <a href="/productos" >Dulces</a>
    <div class="dropdown">
        <button class="dropbtn">Categorias</button>
            <div class="dropdown-content">
                <a href="#">Polvorosos</a>
                <a href="#">Chocolates</a>
                <a href="#">Caramelo Suave</a>
                <a href="#">Biscochos</a>
                <a href="#">Picosos</a>
                <a href="#">Típicos</a>
                <a href="#">Paletas</a>
            </div>
        </div>
     <a href="/about" class="nav-link">Acerca de</a> 
    <input type="text" name="busqueda" placeholder="Buscar dulce">
    {{#if user}}
    <a href="/perfil">Perfil</a>
    <a href="/usuarios/logout">Cerrar sesión</a>
    {{else}}
    <a href="/usuarios/signin">Acceder</a>
    <a href="/usuarios/signup">Registrar</a>
    {{/if}} --> 


<nav class="navbar navbar-expand-lg bg-white sombra justify-content-center mb-4 mx-4">
  <div class="container-fluid mx-auto">
    <a class="navbar-brand" href="/">
      <img src="/images/000Logo.png" alt="" class="img-fluid" width="170">
    </a>
    <button class="navbar-toggler"  type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">

      <span class="navbar-toggler-icon"></span>

      </button>

      
    <center>
       
    
    <div class="collapse navbar-collapse btn-outline-danger" id="navbarScroll">
      
      <ul class="navbar-nav me-auto my-5 pe-lg-5 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        
      <form class="d-flex pe-lg-5 ps-lg-5 me-lg-5 ms-lg-5" role="search" action="/producto/search" method="POST">
        <input class="form-control  rectangulo3 me-2 ms-5" type="search" placeholder="Dulce o categoria" aria-label="Search"></input> 
        <button class="btn btn-outline-danger  " type="submit">Buscar</button>
      </form>

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorias
          </a>
          <ul class="dropdown-menu mac">
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/polvoroso">
              <?xml version="1.0" ?>
                          <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                          <svg fill="rgba(243, 243, 243, 1)" width="20" class="me-1"  viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                          <g id="Dust">
                          <path d="M45.49,41.65a7.82,7.82,0,0,0,0-15.55,5.47,5.47,0,0,0-1.19-5.88l-.22-.2c1-.39,1.6-.72,1.68-1.49s-.64-1.33-1.73-2a8.21,8.21,0,0,1-3.27-4c-.47-1.2-.78-2-1.65-2.08s-1.33.64-2,1.73a8.36,8.36,0,0,1-1.45,1.69,7.81,7.81,0,0,0-12.81,5.47,5.43,5.43,0,0,0-6.72,6.73,7.82,7.82,0,0,0-1.49,15.35,8.27,8.27,0,0,1-1.29.82c-1.15.58-1.91,1-1.91,1.84s.76,1.27,1.91,1.85A8.24,8.24,0,0,1,17,49.57c.58,1.16,1,1.92,1.84,1.92s1.27-.76,1.85-1.92c.07-.15.18-.29.27-.44a5.29,5.29,0,0,0,1.93-.4,7.82,7.82,0,0,0,15.55,0,5.42,5.42,0,0,0,7.08-7.07ZM38.78,13.26l.07-.11s0,.08,0,.12A10.27,10.27,0,0,0,43,18.2l.1.07-.11,0A10.28,10.28,0,0,0,38,22.39a.61.61,0,0,1-.07.1s0-.08,0-.11a10.29,10.29,0,0,0-4.08-4.94l-.1-.07.11,0A10.33,10.33,0,0,0,38.78,13.26Zm-20,35.53,0-.11a10.28,10.28,0,0,0-4.53-4.53l-.11-.06.11-.05a10.48,10.48,0,0,0,4.53-4.53l0-.11.06.11A10.28,10.28,0,0,0,23.4,44l.11.05-.11.06a10.23,10.23,0,0,0-4.53,4.53Zm24.08-2.66a3.45,3.45,0,0,1-4.81,0A1,1,0,0,0,36.4,47a6.18,6.18,0,0,1,.06.85,5.82,5.82,0,1,1-11.64,0,6.18,6.18,0,0,1,.06-.85,1,1,0,0,0-.53-1l-.11,0,.05,0c1.16-.58,1.92-1,1.92-1.85s-.76-1.26-1.92-1.84a8.19,8.19,0,0,1-3.63-3.64c-.58-1.15-1-1.91-1.85-1.91s-1.26.76-1.84,1.91a8.24,8.24,0,0,1-.65,1.07,5.82,5.82,0,1,1,1.25-11.55,1,1,0,0,0,1-1.57,3.43,3.43,0,0,1,4.79-4.77,1,1,0,0,0,1.11,0,1,1,0,0,0,.46-1,5.81,5.81,0,0,1,9-5.73,8.34,8.34,0,0,1-.8.38c-1.2.47-2,.78-2.08,1.66s.64,1.33,1.73,2a8.21,8.21,0,0,1,3.27,4c.47,1.2.78,2,1.66,2.08h.13c.79,0,1.23-.7,1.88-1.74a8.43,8.43,0,0,1,2.36-2.4,3.38,3.38,0,0,1,.82.58,3.45,3.45,0,0,1,0,4.81,1,1,0,0,0,.87,1.68,5.82,5.82,0,1,1,.84,11.58,5.73,5.73,0,0,1-.84-.06,1,1,0,0,0-1,.53,1,1,0,0,0,.17,1.15A3.45,3.45,0,0,1,42.89,46.13Z"/>
                          <path d="M17.76,15.17A4.79,4.79,0,1,0,13,20,4.79,4.79,0,0,0,17.76,15.17Zm-7.57,0A2.79,2.79,0,1,1,13,18,2.79,2.79,0,0,1,10.19,15.17Z"/>
                          <path d="M54.62,12.31a4,4,0,1,0-4,4A4,4,0,0,0,54.62,12.31Zm-6,0a2,2,0,1,1,2,2A2,2,0,0,1,48.6,12.31Z"/>
                          <path d="M57,49.85a4,4,0,1,0-4,4A4,4,0,0,0,57,49.85Zm-6,0a2,2,0,1,1,2,2A2,2,0,0,1,51,49.85Z"/>
                          <path d="M10.47,55.32A3.47,3.47,0,1,0,7,51.85,3.46,3.46,0,0,0,10.47,55.32Zm0-4.93A1.47,1.47,0,1,1,9,51.85,1.47,1.47,0,0,1,10.47,50.39Z"/>
                          </g>
                          </svg>
              
              Polvorosos </a></li>
            
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/caramelo_suave">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 640 512"><path d="M624.1 319C628.3 322.4 630.6 326.7 631.5 331.3C632.4 335.1 631.1 340.8 630.2 345.2C628.3 349.6 625.3 353.3 621.3 355.9C617.4 358.6 612.7 359.1 608 360C604.3 360 600.6 359.1 597.3 357.5L504 310.8C492.2 350.4 467.9 385.2 434.8 409.9C401.6 434.6 361.4 447.1 320 447.1C278.7 447.1 238.4 434.6 205.3 409.9C172.1 385.2 147.8 350.4 136 310.8L42.72 357.5C39.4 359.2 35.73 360 32 360C27.26 359.1 22.62 358.6 18.68 355.9C14.74 353.3 11.66 349.6 9.85 345.2C8.035 340.8 7.56 335.1 8.484 331.3C9.409 326.7 11.69 322.4 15.04 319L45.57 288.3L16.42 278.7C11.65 277.1 7.494 273.1 4.554 269.9C1.613 265.8 .0312 260.9 .0312 255.9C.0312 250.8 1.613 245.9 4.554 241.8C7.494 237.8 11.65 234.7 16.42 233.1L45.57 223.5L15.04 192.1C11.03 188.9 8.576 183.6 8.123 177.9C7.671 172.3 9.247 166.6 12.57 161.1C15.9 157.4 20.75 154.1 26.28 152.7C31.8 151.4 37.63 151.1 42.72 154.5L135.1 201.2C147.8 161.6 172.1 126.8 205.2 102.1C238.4 77.38 278.6 64.03 319.1 64.03C361.3 64.03 401.6 77.38 434.7 102.1C467.9 126.8 492.2 161.6 503.1 201.2L597.3 154.8C602.4 152.3 608.2 151.7 613.7 153.1C619.2 154.4 624 157.7 627.4 162.3C630.7 166.9 632.3 172.5 631.8 178.2C631.4 183.9 628.1 189.2 624.1 193.2L594.4 223.7L623.6 233.3C628.4 234.9 632.5 238 635.5 242.1C638.4 246.2 639.1 251.1 639.1 256.1C639.1 261.2 638.4 266.1 635.5 270.2C632.5 274.3 628.4 277.3 623.6 278.9L594.4 288.5L624.1 319zM406.4 370.5L280.3 118.4C263.4 123.2 247.6 131 233.6 141.5L359.7 393.6C376.6 388.8 392.4 380.1 406.4 370.5zM214.3 353.4C238.9 379.9 272.6 396.2 308.6 398.1L198.7 179.2C183.1 202.1 176.1 228.8 176 256C176.1 292.1 189.8 326.9 214.3 353.4zM463.7 263.3C465 238.5 459.9 213.9 448.8 191.7C437.7 169.6 421.1 150.7 400.5 136.9C379.9 123.1 356.1 114.9 331.4 113.2L441.3 332.8C454.7 311.1 462.4 287.1 463.7 263.3L463.7 263.3z"/></svg>
              Caramelo Suave</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/biscocho">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 448 512"><path d="M431.9 178C442.8 193.7 448.4 212.4 447.1 231.5C447.5 250.6 441 269 429.4 284.2C417.8 299.3 401.7 310.4 383.4 315.8L356.4 485.2C355.2 492.7 351.4 499.5 345.6 504.4C339.8 509.3 332.5 511.1 324.9 512H300.1L324.1 320H291.9L267.9 512H180.1L156.1 320H123.9L147.9 512H123.1C115.6 512 108.2 509.3 102.5 504.5C96.7 499.6 92.83 492.9 91.55 485.4L64.61 315.8C46.3 310.4 30.18 299.3 18.57 284.2C6.963 269 .4654 250.6 .0171 231.5C-.4315 212.4 5.192 193.7 16.08 178C26.96 162.4 42.54 150.5 60.58 144.3L80.64 133.9C83.09 114.6 92.51 96.85 107.1 83.97C121.7 71.1 140.5 64 160 64H197.5C201.8 64.06 205.9 62.82 209.5 60.45C213 58.08 215.8 54.68 217.3 50.72C219 46.81 219.5 42.47 218.6 38.3C217.8 34.12 215.7 30.29 212.7 27.33C210.4 25.09 208.9 22.24 208.3 19.13C207.7 16.02 207.1 12.8 209.2 9.873C210.4 6.946 212.5 4.445 215.1 2.687C217.7 .9296 220.8-.0057 223.1 0C260.5 .0403 295.6 13.9 322.2 38.77C348.9 63.65 365.1 97.71 367.6 134.1L387.4 144.3C405.5 150.5 421 162.4 431.9 178H431.9zM385.1 261.9C392.8 255.4 397.9 246.4 399.5 236.4C401.1 226.5 399.2 216.3 393.9 207.7C388.7 199 380.6 192.6 371 189.4C369.5 188.9 367.9 188.2 366.5 187.5L337.3 172.4C332.1 169.8 327.7 165.7 324.7 160.7C321.6 155.6 319.1 149.9 320 144C319.1 125.9 314.9 108.1 305.2 92.8C295.5 77.47 281.7 65.19 265.4 57.38C264.5 61.38 263.3 65.3 261.7 69.09C256.5 81.81 247.6 92.68 236.1 100.3C224.7 107.1 211.3 112 197.5 112H160C151.5 112 143.4 115.4 137.4 121.4C131.4 127.4 128 135.5 128 144C128 149.9 126.4 155.6 123.3 160.7C120.3 165.7 115.9 169.8 110.7 172.4L81.54 187.5C80.06 188.2 78.55 188.9 76.99 189.4C67.42 192.6 59.3 199 54.07 207.7C48.85 216.3 46.86 226.5 48.48 236.4C50.09 246.4 55.2 255.4 62.88 261.9C70.57 268.5 80.32 272 90.4 272H357.6C367.7 272 377.4 268.5 385.1 261.9z"/></svg>
              Biscochos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/picoso">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 512 512"><path d="M466.1 131.9c20.17-38.03 18.29-85.58-6.73-121.7C454.7 3.586 447.4 0 439.8 0c-4.701 0-9.459 1.396-13.65 4.316c-10.77 7.578-13.44 22.55-5.896 33.41c13.13 18.91 14.38 42.79 6.244 63.63C403.2 88.17 376.8 80 348.4 80c-35.81 0-70.13 12.17-99.26 35.18C242.1 120.1 239.5 127.7 240 135.6c.498 7.885 4.836 15.02 11.59 19.09l44.97 27.06V272.2c0 13.27 10.74 24.03 23.97 24.03h91.61l32.99 45.79C449.7 348.3 456.9 352 464.6 352c.2031 0 .4062 0 .6094-.0156c7.91-.1875 15.21-4.303 19.51-10.95C502.6 313.4 512 281.3 512 248.2C512 203 494.4 162.2 466.1 131.9zM419.2 360.7c1.236 1.719 2.834 3.066 4.242 4.617C356 438.3 232.4 512 73.31 512C32.89 512 0 478.7 0 437.9s32.89-74.13 73.31-74.13c71.69 0 102.4-67.67 132-133.1c8.455-18.65 16.82-35.88 25.75-51.73c1.385 1.02 2.557 2.266 4.045 3.162l29.47 17.74v17.96c-5.174 10.43-10.33 21.41-15.63 33.09c-32.61 71.91-73.19 161.4-175.7 161.4C59.36 412.3 48 423.8 48 437.9s11.36 25.6 25.31 25.6c144.4 0 257.6-69.07 315.6-132h9.217L419.2 360.7z"/></svg>
              Picosos</a></li>
            <li><a class="dropdown-item me-2 text-white" href="/productos-category/tipico">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 448 512"><path d="M224 0C100.2 0 0 100.2 0 224v128c0 88.38 71.62 160 160 160h128c88.38 0 160-71.63 160-160V224C448 100.2 347.8 0 224 0zM400 352c0 61.75-50.25 112-112 112H160c-61.75 0-112-50.25-112-112V224c0-97 79-176 176-176s176 79 176 176V352zM226.5 226.2c-.875-.75-4.25-.75-5.125 0c-8.125-38-39.41-66.21-77.41-66.21L76 160C69.38 160 64 165.4 64 172v30.75C64 249.8 99.75 288 144 288h22.38c-7.375 12.25-12.5 23.5-15.75 32.88C119.8 325.5 96 351.9 96 384c0 35.5 29.38 64 64.88 64H287c35.5 0 64.88-28.5 64.88-64c0-32.13-23.62-58.5-54.63-63.13C293.1 311.4 288.9 300.2 281.5 288H304C348.2 288 384 249.8 384 202.8V172C384 165.4 378.6 160 372 160h-67.97C266.2 160 234.8 188.2 226.5 226.2zM224 266.8C244.2 286.6 255.9 305.2 262.8 320h-77.5C192.1 305.2 203.8 286.6 224 266.8zM144 256C117.5 256 96 232.1 96 202.8V192h48C170.5 192 192 215.9 192 245.2V254C191.4 254.8 190.8 255.2 190.2 256H144zM288 352c17.62 0 32 14.38 32 32s-14.38 32-32 32H160c-17.62 0-32-14.38-32-32s14.38-32 32-32H288zM352 202.8C352 232.1 330.5 256 304 256h-46.25C257.2 255.2 256.6 254.8 256 254V245.2C256 215.9 277.5 192 304 192H352V202.8z"/></svg>
              Tipicos</a></li>
            <li><a class="dropdown-item me-2 text-white " href="/productos-category/paleta">
              <svg xmlns="http://www.w3.org/2000/svg" fill="rgba(243, 243, 243, 1)" width="15" class="me-2" viewBox="0 0 512 512"><path d="M511.4 487.8C511.3 494 508.8 499.1 504.4 504.4C499.1 508.8 494 511.3 487.8 511.4C481.6 511.5 475.6 509.2 471 504.1L309.5 343.5C270.8 373.6 222.1 387.7 173.3 383.2C124.5 378.6 79.33 355.6 46.9 318.8C14.48 282.1-2.718 234.3-1.187 185.3C.3434 136.4 20.49 89.8 55.14 55.14C89.8 20.49 136.4 .3434 185.3-1.187C234.3-2.718 282.1 14.48 318.8 46.9C355.6 79.33 378.6 124.5 383.2 173.3C387.7 222.1 373.6 270.8 343.5 309.5L504.1 471C509.2 475.6 511.5 481.6 511.4 487.8H511.4zM278.9 306.2C301.3 289.2 318.3 266.1 327.7 239.6C337.1 213.1 338.6 184.5 331.9 157.2C325.2 129.9 310.7 105.1 290.1 85.98C269.6 66.83 243.9 54.12 216.2 49.4C188.5 44.69 159.1 48.18 134.2 59.45C108.5 70.72 86.62 89.28 71.3 112.8C55.98 136.4 47.88 163.9 48 192C48 219.6 58.96 246 78.46 265.5C97.97 285 124.4 296 152 296C179.6 296 206 285 225.5 265.5C245 246 256 219.6 256 192C256 175 249.3 158.7 237.3 146.7C225.3 134.7 208.1 128 192 128C175 128 158.7 134.7 146.7 146.7C134.7 158.7 128 175 128 192C128 198.4 130.5 204.5 135 208.1C139.5 213.5 145.6 216 152 216C158.4 216 164.5 213.5 168.1 208.1C173.5 204.5 176 198.4 176 192C176 185.6 178.5 179.5 183 175C187.5 170.5 193.6 168 200 168C206.4 168 212.5 170.5 216.1 175C221.5 179.5 224 185.6 224 192C224 211.1 216.4 229.4 202.9 242.9C189.4 256.4 171.1 264 152 264C132.9 264 114.6 256.4 101.1 242.9C87.59 229.4 80 211.1 80 192C80 162.3 91.8 133.8 112.8 112.8C133.8 91.8 162.3 80 192 80C221.7 80 250.2 91.8 271.2 112.8C292.2 133.8 304 162.3 304 192C303.9 223.5 293.1 254.2 275.6 279.9C257.3 305.5 231.4 324.8 201.6 335C229.6 333.2 256.5 323.1 278.9 306.2z"/></svg>  
              Paletas</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/chicle">
              <svg width="20"  viewBox="0 0 866 837" fill="rgba(243, 243, 243, 1)" xmlns="http://www.w3.org/2000/svg" class="me-1">
                  <g clip-path="url(#clip0_453_11)">
                  <path d="M261.04 241.346C261.04 289.756 250.613 328.999 237.754 328.999C224.895 328.999 214.468 289.756 214.468 241.346C214.468 192.937 224.895 153.694 237.754 153.694C250.613 153.694 261.04 192.937 261.04 241.346Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M156.254 241.346C156.28 258.139 160.786 274.574 169.243 288.695C177.695 302.815 189.742 314.029 203.948 320.999C195.034 295.559 190.699 268.531 191.182 241.346C190.699 214.162 195.034 187.134 203.948 161.694C189.742 168.664 177.695 179.878 169.243 193.998C160.786 208.119 156.28 224.554 156.254 241.346V241.346Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M319.254 241.346C319.228 224.554 314.721 208.119 306.265 193.998C297.813 179.878 285.765 168.664 271.56 161.694C280.474 187.134 284.809 214.162 284.325 241.346C284.809 268.531 280.474 295.559 271.56 320.999C285.765 314.029 297.813 302.815 306.265 288.695C314.721 274.574 319.228 258.139 319.254 241.346Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M641.86 586.748C636.798 591.114 633.83 597.699 633.778 604.675C640.114 604.099 645.982 600.84 650.094 595.613C655 591.225 657.973 584.813 658.28 577.954C657.973 577.887 657.667 577.853 657.355 577.859C651.372 578.736 645.873 581.889 641.86 586.747L641.86 586.748Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M680.182 516.826C652.389 516.826 625.736 528.699 606.088 549.835C586.435 570.966 575.396 599.632 575.396 629.522C575.396 659.413 586.436 688.078 606.088 709.209C625.736 730.346 652.389 742.218 680.182 742.218C707.974 742.218 734.628 730.345 754.275 709.209C773.928 688.078 784.967 659.413 784.967 629.522C784.936 599.643 773.886 570.999 754.243 549.869C734.596 528.744 707.963 516.86 680.182 516.826V516.826ZM666.548 613.317C658.305 622.993 646.88 628.829 634.701 629.595C628.163 629.774 621.832 627.096 617.159 622.171C605.427 609.566 608.972 586.72 625.392 569.038C641.811 551.407 663.06 547.577 674.78 560.172L674.801 560.194C686.516 572.822 682.966 595.663 666.547 613.322L666.548 613.317Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M703.64 96.4629L656.892 46.1797L533.639 178.738L570.776 218.678C578.931 212.339 589.176 209.947 599.041 212.071C606.536 212.893 608.787 212.77 611.24 210.126C613.699 207.487 613.823 205.1 613.049 197.006C610.206 185.032 613.439 172.337 621.563 163.599C629.687 154.861 641.495 151.379 652.63 154.437C660.125 155.281 662.375 155.136 664.829 152.491C667.308 149.825 667.443 147.427 666.669 139.31C664.262 127.347 667.454 114.876 675.209 105.915C682.75 98.0886 693.308 94.5781 703.64 96.4619L703.64 96.4629Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M780.15 178.738L725.118 119.556C718.335 122.172 711.037 122.888 703.921 121.647C696.416 120.814 694.165 120.959 691.675 123.625C689.206 126.281 689.071 128.673 689.846 136.785C692.252 148.758 689.056 161.236 681.296 170.203C672.964 178.532 661.367 181.953 650.244 179.365C642.692 178.532 640.488 178.666 638.035 181.31C635.576 183.954 635.452 186.347 636.226 194.441C639.069 206.41 635.831 219.098 627.712 227.837C619.588 236.568 607.789 240.051 596.661 236.993C593.719 236.451 590.715 236.434 587.768 236.948L656.897 311.296L780.15 178.738Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M137.785 579.435L191.181 522.008L337.708 679.596L284.312 737.023L137.785 579.435Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M505.539 183.918L207.642 504.304L354.182 661.907L652.079 341.521L505.539 183.918ZM345.706 460.285L510.356 283.191L526.817 300.9L362.181 477.994L345.706 460.285ZM378.634 495.698L543.297 318.618L559.763 336.322L395.1 513.401L378.634 495.698Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M447.325 166.216C447.325 193.875 426.472 216.303 400.754 216.303C375.036 216.303 354.182 193.875 354.182 166.216C354.182 138.556 375.036 116.129 400.754 116.129C426.472 116.129 447.325 138.556 447.325 166.216Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M773.324 391.608C764.067 391.58 755.2 387.611 748.656 380.573C742.112 373.535 738.422 363.999 738.396 354.043C738.396 347.128 733.183 341.521 726.753 341.521C720.324 341.521 715.11 347.128 715.11 354.043C715.084 363.999 711.394 373.535 704.85 380.573C698.306 387.611 689.439 391.58 680.182 391.608C673.752 391.608 668.539 397.215 668.539 404.13C668.539 411.045 673.752 416.652 680.182 416.652C689.439 416.68 698.306 420.649 704.85 427.686C711.394 434.724 715.084 444.261 715.11 454.217C715.11 461.132 720.324 466.739 726.753 466.739C733.183 466.739 738.396 461.132 738.396 454.217C738.422 444.261 742.112 434.724 748.656 427.686C755.2 420.648 764.067 416.68 773.324 416.652C779.754 416.652 784.967 411.045 784.967 404.13C784.967 397.215 779.754 391.608 773.324 391.608Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M482.253 617H505.539V642.044H482.253V617Z" fill="rgba(243, 243, 243, 1)"/>
                  <path d="M482.253 667.088H505.539V692.131H482.253V667.088Z" fill=""/>
                  <path d="M458.968 642.044H482.253V667.088H458.968V642.044Z" fill="black"/>
                  <path d="M505.539 642.044H528.825V667.088H505.539V642.044Z" fill="rgba(243, 243, 243, 1)"/>
                  </g>
                  <defs>
                  <clipPath id="clip0_453_11">
                  <rect width="866" height="837" fill="white"/>
                  </clipPath>
                  </defs>
                  </svg>
              Chicles</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/gomita">
            <?xml version="1.0" encoding="iso-8859-1"?>
            <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
            <!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
            <svg fill="rgba (243, 243, 243, 1)" width="20" version="1.1" class="me-1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
              viewBox="0 0 481.388 481.388" xml:space="preserve">
            <path d="M296.605,170.754c0-14.803-11.163-27.743-28.792-33.831c-2.776-12.649-14.063-22.147-27.534-22.147
              c-13.471,0-24.758,9.498-27.534,22.148c-17.602,6.095-28.792,19.1-28.792,33.831v16.982c0,5.523,4.477,10,10,10h68.972
              c5.522,0,10-4.477,10-10s-4.478-10-10-10h-58.972v-6.982c0-5.059,4.72-10.229,11.987-13.581c4.897,8.359,13.97,13.989,24.339,13.989
              c10.367,0,19.439-5.629,24.337-13.986c7.28,3.345,11.989,8.481,11.989,13.578c0,5.523,4.478,10,10,10
              S296.605,176.277,296.605,170.754z M240.279,151.162c-4.518,0-8.193-3.675-8.193-8.193s3.675-8.193,8.193-8.193
              c4.518,0,8.193,3.675,8.193,8.193S244.797,151.162,240.279,151.162z M348.307,322.279c32.405,0,58.769-26.364,58.769-58.769
              s-26.363-58.769-58.769-58.769c-7.979,0-15.767,1.6-22.987,4.672c19.676-21.266,30.966-49.431,30.966-78.873
              c0-4.734-0.299-9.431-0.86-14.077c21.938-9.48,36.627-31.277,36.627-55.741C392.052,27.24,364.812,0,331.33,0
              c-17.832,0-34.587,7.794-46.06,21.148c-10.427-2.356-31.178-6.614-44.991-6.614c-14.212,0-36.014,4.327-46.741,6.662
              C182.064,7.814,165.29,0,147.438,0c-33.482,0-60.722,27.24-60.722,60.723c0,25.091,15.449,47.38,38.325,56.449
              c-0.506,4.414-0.768,8.876-0.768,13.369c0,29.494,10.866,57.082,30.346,78.278c-6.808-2.683-14.09-4.076-21.537-4.076
              c-32.405,0-58.769,26.363-58.769,58.769s26.364,58.769,58.769,58.769c1.77,0,3.519-0.093,5.25-0.247v52.482
              c-15.557,10.936-25.004,28.864-25.004,48.105c0,32.405,26.364,58.769,58.769,58.769c28.995,0,53.137-21.112,57.9-48.769h20.752
              c4.763,27.656,28.906,48.769,57.901,48.769c32.405,0,58.769-26.363,58.769-58.769c0-20.042-10.252-38.657-26.98-49.431v-51.451
              C343.014,322.084,345.637,322.279,348.307,322.279z M323.86,385.183c0.867,1.443,2.104,2.689,3.679,3.57
              c12.262,6.858,19.879,19.835,19.879,33.866c0,21.377-17.392,38.769-38.769,38.769c-21.378,0-38.77-17.392-38.77-38.769
              c0-9.326,3.358-18.337,9.456-25.374c3.616-4.174,3.165-10.489-1.009-14.106c-4.173-3.617-10.489-3.166-14.106,1.008
              c-7.042,8.126-11.666,17.989-13.476,28.472H230c-1.81-10.483-6.434-20.345-13.475-28.471c-3.616-4.174-9.932-4.625-14.106-1.009
              c-4.174,3.617-4.626,9.932-1.009,14.106c6.098,7.038,9.456,16.049,9.456,25.375c0,21.377-17.392,38.769-38.769,38.769
              s-38.769-17.392-38.769-38.769c0-13.962,7.546-26.874,19.701-33.758c0.95-0.506,1.804-1.165,2.539-1.937
              c0.017-0.018,0.033-0.037,0.051-0.056c0.205-0.218,0.4-0.445,0.585-0.681c0.018-0.022,0.034-0.046,0.051-0.068
              c0.182-0.237,0.354-0.481,0.515-0.734c0.008-0.013,0.016-0.026,0.024-0.039c0.666-1.058,1.139-2.247,1.369-3.523
              c0.004-0.021,0.006-0.042,0.01-0.063c0.05-0.287,0.091-0.576,0.116-0.87c0.006-0.071,0.006-0.142,0.011-0.213
              c0.014-0.213,0.032-0.425,0.032-0.642v-63.466c19.803-9.462,33.519-29.687,33.519-53.058c0-5.523-4.477-10-10-10s-10,4.477-10,10
              c0,21.377-17.392,38.769-38.769,38.769s-38.769-17.392-38.769-38.769c0-21.377,17.392-38.769,38.769-38.769
              c7.77,0,15.263,2.288,21.669,6.615c2.625,1.775,5.787,2.128,8.592,1.249c1.401,0.698,2.928,1.057,4.46,1.057
              c2.532,0,5.066-0.956,7.013-2.872l3.592-3.535c17.394,7.919,36.457,12.086,55.579,12.086h24.461c5.522,0,10-4.477,10-10
              s-4.478-10-10-10h-24.461c-18.082,0-36.102-4.38-52.179-12.658c-23.862-18.344-37.535-46.044-37.535-76.143
              c0-19.339,5.722-37.979,16.547-53.902c3.105-4.567,1.919-10.787-2.648-13.892c-4.566-3.105-10.788-1.92-13.892,2.648
              c-6.684,9.832-11.748,20.521-15.114,31.736c-13.536-6.796-22.45-20.794-22.45-36.408c0-22.455,18.268-40.723,40.722-40.723
              c13.55,0,26.176,6.714,33.774,17.961c2.333,3.453,6.561,5.099,10.614,4.127c0.316-0.075,31.769-7.554,48.454-7.554
              c16.228,0,46.265,7.456,46.565,7.531c4.079,1.018,8.357-0.621,10.711-4.104C305.154,26.714,317.78,20,331.33,20
              c22.454,0,40.723,18.268,40.723,40.723c0,15.01-8.237,28.527-20.899,35.588c-3.365-10.917-8.353-21.323-14.874-30.917
              c-3.106-4.567-9.324-5.752-13.893-2.648c-4.567,3.105-5.753,9.325-2.648,13.892c10.826,15.924,16.548,34.563,16.548,53.902
              c0,30.894-15.018,60.094-40.172,78.11c-2.734,1.959-4.301,5.161-4.169,8.522c0.132,3.361,1.945,6.431,4.825,8.169l11.401,6.881
              c1.616,0.976,3.397,1.44,5.157,1.44c1.586,0,3.149-0.392,4.561-1.113c2.843,0.942,6.074,0.612,8.747-1.194
              c6.406-4.328,13.899-6.615,21.67-6.615c21.377,0,38.769,17.392,38.769,38.769c0,21.377-17.392,38.769-38.769,38.769
              s-38.769-17.392-38.769-38.769c0-5.523-4.478-10-10-10s-10,4.477-10,10c0,22.326,12.516,41.782,30.898,51.727v62.426
              C320.437,380.665,321.766,383.35,323.86,385.183z M191.286,123.823c-8.986,0-16.27-7.284-16.27-16.27s7.284-16.27,16.27-16.27
              c8.985,0,16.27,7.284,16.27,16.27S200.271,123.823,191.286,123.823z M272.446,107.554c0-8.985,7.284-16.27,16.27-16.27
              c8.985,0,16.27,7.284,16.27,16.27s-7.284,16.27-16.27,16.27C279.731,123.823,272.446,116.539,272.446,107.554z" fill="rgba(243, 243, 243, 1)"/>
            </svg>             
             Gomitas</a></li>
             <li><a class="dropdown-item me-2 text-white " href="/productos-category/bombon">
              <?xml version='1.0' encoding='iso-8859-1'?>
                <!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'>
                <!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
                <svg fill="#rgba(243, 243, 243, 1)" width="20" version="1.1" xmlns="http://www.w3.org/2000/svg" class="me-1" viewBox="0 0 460 460" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 460 460">
                  <g>
                    <path d="m454.931,95.505c-6.668-17.043-19.416-35.503-35.892-51.979-16.478-16.477-34.938-29.224-51.98-35.892-19.78-7.74-36.095-6.585-45.935,3.253l-116.046,116.047c-9.84,9.839-10.996,26.153-3.255,45.935 5.111,13.063 13.811,26.954 25.009,40.15-2.298,1.535-4.498,3.108-6.563,4.725-16.724,13.098-24.023,27.734-20.554,41.209l1.525,5.921c0,0-61.622-61.622-62.363-62.363-9.84-9.839-26.152-10.997-45.936-3.254-17.043,6.668-35.503,19.416-51.979,35.892-16.477,16.478-29.224,34.938-35.892,51.98-7.741,19.782-6.586,36.096 3.253,45.935l116.048,116.047c5.536,5.536 13.123,8.324 22.223,8.324 7.073,0 15.061-1.684 23.712-5.069 17.043-6.668 35.503-19.416 51.979-35.892 5.035-5.035 9.712-10.257 13.981-15.566l4.371,16.977c3.47,13.476 16.929,22.766 37.9,26.159 5.914,0.957 12.287,1.43 18.98,1.43 13.753,0 28.849-1.999 44.029-5.908 22.566-5.811 42.928-15.225 57.336-26.508 16.724-13.098 24.023-27.734 20.554-41.209 0,0-40.493-156.984-40.609-157.559 0,0 72.097-72.097 72.849-72.849 9.84-9.841 10.996-26.154 3.255-45.936zm-95.347-68.769c14.465,5.66 30.428,16.775 44.948,31.295 14.52,14.519 25.635,30.483 31.294,44.948 4.322,11.046 4.85,20.448 1.343,23.954-3.506,3.504-12.907,2.977-23.954-1.343-14.465-5.66-30.428-16.775-44.948-31.295s-25.634-30.483-31.294-44.948c-4.322-11.046-4.849-20.448-1.343-23.954 1.544-1.544 4.23-2.306 7.698-2.306 4.406-1.42109e-14 10.074,1.231 16.256,3.649zm-138.658,138.658c-4.322-11.045-4.85-20.447-1.343-23.953l94.972-94.973c0.819,3.328 1.916,6.783 3.314,10.355 6.669,17.042 19.416,35.502 35.892,51.979 16.478,16.477 34.938,29.224 51.98,35.892 3.575,1.399 7.029,2.491 10.359,3.31l-48.856,48.856c-6.525-4.852-15.524-8.304-26.631-10.101-18.065-2.922-40.442-1.333-63.009,4.478-11.584,2.983-22.579,6.921-32.494,11.568-11.031-12.383-19.489-25.411-24.184-37.411zm11.993,68.502c12.23-9.578 29.915-17.673 49.801-22.792 13.55-3.489 26.868-5.276 38.833-5.276 5.595,0 10.897,0.392 15.784,1.182 11.709,1.894 20.073,6.221 21.309,11.022 1.237,4.802-3.998,12.63-13.335,19.943-12.23,9.578-29.915,17.673-49.802,22.792-19.888,5.121-39.287,6.574-54.618,4.094-11.709-1.894-20.074-6.221-21.31-11.022-1.236-4.802 4-12.63 13.338-19.943zm-208.746,60.708c5.66-14.465 16.775-30.428 31.295-44.948 14.519-14.52 30.483-25.635 44.948-31.294 6.181-2.419 11.848-3.649 16.254-3.649 3.468,0 6.156,0.761 7.7,2.306 3.506,3.506 2.979,12.908-1.343,23.954-5.66,14.465-16.775,30.428-31.295,44.948-14.52,14.52-30.483,25.634-44.948,31.294-11.049,4.322-20.45,4.848-23.954,1.343-3.507-3.505-2.98-12.907 1.343-23.954zm183.605,107.363c-14.519,14.52-30.482,25.635-44.948,31.294-11.047,4.322-20.448,4.849-23.953,1.343l-94.978-94.977c3.331-0.819 6.785-1.91 10.36-3.309 17.042-6.669 35.502-19.416 51.979-35.892 16.477-16.478 29.224-34.938 35.892-51.98 1.398-3.572 2.495-7.027 3.314-10.355l65.856,65.856 18.332,71.195c-5.794,9.041-13.216,18.188-21.854,26.825zm191.791-25.003c1.237,4.802-3.999,12.63-13.336,19.943-12.229,9.578-29.915,17.673-49.801,22.792-19.886,5.121-39.279,6.575-54.618,4.094-11.709-1.894-20.073-6.22-21.309-11.022l-33.49-130.064c3.281,0.986 6.816,1.793 10.6,2.406 5.913,0.957 12.286,1.43 18.979,1.43 13.754-0.001 28.85-1.999 44.03-5.908 22.566-5.811 42.928-15.225 57.336-26.508 3.018-2.364 5.724-4.778 8.12-7.226l33.489,130.063z" fill="rgba(243, 243, 243, 1)" />
                    <path d="m99.714,333.791c-4.007-4.005-10.5-4.005-14.506,0-4.006,4.006-4.006,10.501 0,14.506l41.029,41.029c2.003,2.002 4.628,3.004 7.253,3.004 2.625,0 5.25-1.002 7.253-3.004 4.006-4.006 4.006-10.501 0-14.506l-41.029-41.029z"fill="rgba(243, 243, 243, 1)"/>
                    <path d="m315.115,87.618c-4.007-4.005-10.5-4.005-14.506,0l-46.157,46.157c-4.006,4.006-4.006,10.501 0,14.506 2.003,2.002 4.628,3.004 7.253,3.004s5.25-1.002 7.253-3.004l46.157-46.157c4.006-4.005 4.006-10.5 0-14.506z" fill="rgba(243, 243, 243, 1)" />
                  </g>
                </svg>
              Bombones</a></li>
              <li><a class="dropdown-item me-2 text-white " href="/productos-category/chocolate">
                <?xml fill="rgba(243, 243, 243, 1)" version="1.0" encoding="utf-8"?><svg class="me-1" width="20" fill="#rgba(243, 243, 243, 1)" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.27 122.88" xml:space="preserve"><g><path d="M92.81,45.88l28.44,28.44c0.68,0.68,1.02,1.57,1.02,2.46c0,0.89-0.34,1.78-1.02,2.46l-42.63,42.63 c-0.06,0.06-0.13,0.12-0.2,0.18c-0.65,0.56-1.45,0.84-2.26,0.84c-0.89,0-1.78-0.34-2.46-1.02L45.34,93.49l-0.63,1.73 c-0.42,1.16-1.71,1.77-2.87,1.34c-0.32-0.12-0.6-0.3-0.82-0.52l0,0L28.02,83.06c-0.88-0.88-0.88-2.3,0-3.18l51.86-51.86 c0.88-0.88,2.3-0.88,3.18,0l13.2,13.2c0.88,0.88,0.88,2.3,0,3.18c-0.28,0.28-0.62,0.47-0.98,0.57L92.81,45.88L92.81,45.88z M47.03,88.83l29.13,29.13l41.18-41.18l-29.2-29.2l-11.16,4.08l-5.17,18.43c-0.22,0.77-0.81,1.33-1.52,1.54l0,0l-19.07,5.69 L47.03,88.83L47.03,88.83z M0.66,44.67L44.67,0.66c0.88-0.88,2.3-0.88,3.18,0l31.28,31.28c0.88,0.88,0.88,2.3,0,3.18L35.12,79.14 c-0.88,0.88-2.3,0.88-3.18,0L0.66,47.85C-0.22,46.98-0.22,45.55,0.66,44.67L0.66,44.67z M46.26,5.43L5.43,46.26l28.1,28.1 l40.84-40.84L46.26,5.43L46.26,5.43z M32.78,16.51c-0.88-0.88-0.88-2.3,0-3.18c0.88-0.88,2.3-0.88,3.18,0l30.5,30.5 c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0L32.78,16.51L32.78,16.51z M16,60.01c-0.88,0.88-2.3,0.88-3.18,0 c-0.88-0.88-0.88-2.3,0-3.18l44.02-44.02c0.88-0.88,2.3-0.88,3.18,0c0.88,0.88,0.88,2.3,0,3.18L16,60.01L16,60.01z M23.28,26.46 c-0.88-0.88-0.88-2.3,0-3.18c0.88-0.88,2.3-0.88,3.18,0l30.61,30.61c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0 L23.28,26.46L23.28,26.46z M28,70.16c-0.88,0.88-2.3,0.88-3.18,0c-0.88-0.88-0.88-2.3,0-3.18l42.24-42.24 c0.88-0.88,2.3-0.88,3.18,0c0.88,0.88,0.88,2.3,0,3.18L28,70.16L28,70.16z M13.25,35.87c-0.88-0.88-0.88-2.3,0-3.18 c0.88-0.88,2.3-0.88,3.18,0l30.85,30.85c0.88,0.88,0.88,2.3,0,3.18c-0.88,0.88-2.3,0.88-3.18,0L13.25,35.87L13.25,35.87z"fill="rgba(243, 243, 243, 1)"/></g></svg>
              Chocolates</a></li>

          </ul>
          </form>
        </li>
        <li class="nav-item pe-lg-3 ms-3">
          <a class="nav-link " href="/productos">Dulces</a>
        </li>
        {{#if user}}
      <blockquote></blockquote>
      <li class="nav-item dropdown pt-2 ">
        <a href="/usuarios/logout">Cerrar sesión</a>
      </li>
      {{else}}
      <li class="nav-item ">
          <a class="nav-link " aria-current="page" href="/usuarios/signin">Ingresar</a>
        </li>
        <li class="nav-item ms-3 me-0 ">
          <a class="nav-link hola text-white fw-bold" href="/usuarios/signup">Registrate</a>
          {{/if}}
        </li>
      
      </ul>
      
      </center>
      
    </div>
    
  </div>
</nav>
