<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
</head>
<body>
    <div class=" container-sm rectangulo">
    <div class="row">
            <div class="chat-header">
            <img src="/images/01chatbot.png" alt="" class="img-fluid" width="160">
  </div>
  <div class="chat-messages" id="chat-messages">
    <div class="message bot-message">
      Hola,bienvenido a Doneet ¿en qué puedo ayudarte hoy?
    </div>
    <div class="message user-message">
      ¡Hola! Necesito ayuda.
    </div>
    <div class="message bot-message">
      Claro, puedo ayudarte con todo lo relacionado a alergias, aqui te pongo ejemplos:
    </div>
    <div class="message bot-message">
      ¿Si soy alergica al cacahuate puedo comer cruch?
    </div>
    <div class="message bot-message">
      Quiero comer sneakers pero soy alergica a la nuez, dame un sustituto.
    </div>
    <!-- Más mensajes serán insertados aquí -->
  </div>
  <div class="chat-input form-control">
    <form id="message-form">
      <input type="text" id="message-input" placeholder="Escribe un mensaje..."/>
      <button type="submit">Enviar</button>
    </form>
  </div>
        
     </div>

    </div>
   
</body>
</html>