<!--
<div class="container-xl rectangulo p-4">
    <div class="row">
        <form action="/usuarios/signin" method="POST">
            <div class="col gx-5">
                <h2 class="titulo2 p-5 gy-5" align="CENTER" >¡Bienvenido de nuevo!</h2>
                <center>
                    <div class="col-6">
                        <h5 class="titulo3 p-2" align="left">Ingresa tu correo electronico </h5>
                        <input type="emial" class="form-control form-control-sm rectangulo1" name="email" placeholder="correo electronico">
                        <h5 class="titulo3 pt-4 p-2" align="left"> Ingresa tu contraseña </h5>
                        <input type="password" class="form-control form-control-sm rectangulo1" name="password" placeholder="contraseña">
                    </div>
                </center>

                <div class="col-12 gy-2 p-4" align="CENTER">
                    <button class="btn btn-warning titulo4 gy-2">Iniciar Sesión</button>
                    <p class="p-2 titulo5">¿No tienes cuenta? <a href="/usuarios/signup">Registrate</a></p>
                </div>
            </div>
            <div class="col" align="CENTER">
                <img src="/images/02imagenlogin.png" class="img-fluid" alt="Responsive image">
            </div>
        </form>
    </div>
</div>
-->
<div class="container-xl rectangulo p-4">
    <div class="row">
        
        <div class="col gx-5">
            <h2 class="titulo2 p-5 gy-5" align="CENTER" >¡Bienvenido de nuevo!</h2>
            <form action="/usuarios/signin" method="POST">
                <center>
                    <div class="col-6">
                        <h5 class="titulo3 p-2" align="left">Ingresa tu correo electronico </h5>
                        <input type="emial" class="form-control form-control-sm rectangulo1" name="email" placeholder="correo electronico">
                        <h5 class="titulo3 pt-4 p-2" align="left"> Ingresa tu contraseña </h5>
                        <input type="password" class="form-control form-control-sm rectangulo1" name="password" placeholder="contraseña">
                    </div>
                </center>
                    <div class="col-12 gy-2 p-4" align="CENTER">
                        <button class="btn btn-warning titulo4 gy-2">Iniciar Sesión</button>
                        <p class="p-2 titulo5">¿No tienes cuenta? <a class="link-warning" href="/usuarios/signup">Registrate</a></p>
                    </div>
            </form>
            
        </div>
        <div class="col" align="CENTER">
            <img src="/images/02imagenlogin.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
