<!--<div class="row">
    <div class="card">
        <div class="card-header">
            Login
        </div>
        <div class="card-body">
            <form action="/usuarios/signin" method="POST">
                <div class="form-group">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" name="password" placeholder="Contraseña">
                </div>
                <button>
                    Iniciar Sesión
                </button>
            </form>
        </div>
    </div>
</div>-->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Poppins:wght@500;800&display=swap"
        rel="stylesheet">
</head>

<body>
    <section>
        <div class="container-xl rectangulo">
            <div class="row">
                <!--Columna izquierda-->
                <div class="col">
                    <h5 class="card-title"
                        style="text-align:center; color:#F31260; font-family: 'Poppins', sans-serif; font-style:normal; font-weight:700; font-size: 40px; position:sticky; top:200px;">
                        ¡Bienvenido de nuevo!
                    </h5>
                    
                    <!--Container que tiene toda la parte de los inputs y el boton-->
                    <div class="container-fluid" style="position: sticky; top:300px;">
                        <div class="mb-3">
                            <label for="nombreDeUsuario" class="form-label">Nombre de usuario</label>
                            <input type="text" class="form-control" id="nombreDeUsuario">
                        </div>

                        <div class="mb-3">
                            <label for="contrasenia" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="contrasenia">
                        </div>

                        <button type="button" class="btn btn-warning" style="position: sticky; top:550px;">Iniciar
                            Sesión</button>
                    </div>
                </div>
                <!--Columna derecha-->
                <div class="col">
                    <img src="/images/Allura_Giant_Phone.png" class="img-fluid" alt="Responsive image"
                        style="float: right;">
                </div>
            </div>
        </div>
    </section>
</body>

</html>