<div class="card text-center">
    <div class="card-header">
        <h3>New Producto</h3>
    </div>
    <div class="card-body">
        <form action="/producto/new-producto" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <textarea name="nombre" placeholder="Nombre"></textarea>
            </div>
            <div class="form-group">
                <textarea name="marca" placeholder="Marca"></textarea>
            </div>
            <div>
                <p>Seleccione la/s categorias del dulce</p>
                    <input type="checkbox" id="gomita" name="categoria" value="gomita">
                        <label for="gomita">Gomita</label><br>
                    <input type="checkbox" id="polvoroso" name="categoria" value="polvoroso">
                        <label for="polvoroso">Polvoroso</label><br>
                    <input type="checkbox" id="picoso" name="categoria" value="picoso">
                        <label for="picoso">Picoso</label><br>
                    <input type="checkbox" id="caramelo_suave" name="categoria" value="caramelo_suave">
                        <label for="caramelo_suave">Caramelo_suave</label><br>
                    <input type="checkbox" id="paleta" name="categoria" value="paleta">
                        <label for="paleta">Paleta</label><br>
                    <input type="checkbox" id="chicle" name="categoria" value="chicle">
                        <label for="chicle">Chicle</label><br>
                    <input type="checkbox" id="bombon" name="categoria" value="bombon">
                        <label for="bombon">Bombon</label><br>
                    <input type="checkbox" id="chocolate" name="categoria" value="chocolate">
                        <label for="chocolate">Chocolate</label><br>
                    <input type="checkbox" id="biscocho" name="categoria" value="biscocho">
                        <label for="biscocho">Biscocho</label><br>
                    <input type="checkbox" id="tipico" name="categoria" value="tipico">
                        <label for="tipico">Tipico</label><br>
                    
            </div>
            <div>
                    <p>Seleccione los ingredientes alérgenos del dulce</p>
                    <input type="checkbox" id="almendra" name="elementos" value="almendra">
                        <label for="almendra">Almendra</label><br>
                    <input type="checkbox" id="cacahuate" name="elementos" value="cacahuate">
                        <label for="cacahuate">Cacahuate</label><br>
                    <input type="checkbox" id="chocolate" name="elementos" value="chocolate">
                        <label for="chocolate">Chocolate</label><br>
                    <input type="checkbox" id="nuez" name="elementos" value="nuez">
                        <label for="nuez">Nuez</label><br>
                    <input type="checkbox" id="fresa" name="elementos" value="fresa">
                        <label for="fresa">Fresa</label><br>
                    <input type="checkbox" id="gluten" name="elementos" value="gluten">
                        <label for="gluten">Gluten</label><br>
                    <input type="checkbox" id="huevo" name="elementos" value="huevo">
                        <label for="huevo">Huevo</label><br>
                    <input type="checkbox" id="lacteo" name="elementos" value="lacteo">
                        <label for="lacteo">Lacteo</label><br>
                    <input type="checkbox" id="tamarindo" name="elementos" value="tamarindo">
                        <label for="tamarindo">Tamarindo</label><br>
                    <input type="checkbox" id="soya" name="elementos" value="soya">
                        <label for="soya">Soya</label><br>
                </div>
                <div>
                    <p>Seleccione las trazas alérgenas si es que contiene</p>
                    <input type="checkbox" id="almendra" name="trazas" value="almendra">
                        <label for="almendra">Almendra</label><br>
                    <input type="checkbox" id="cacahuate" name="trazas" value="cacahuate">
                        <label for="cacahuate">Cacahuate</label><br>
                    <input type="checkbox" id="chocolate" name="trazas" value="chocolate">
                        <label for="chocolate">Chocolate</label><br>
                    <input type="checkbox" id="nuez" name="trazas" value="nuez">
                        <label for="nuez">Nuez</label><br>
                    <input type="checkbox" id="fresa" name="trazas" value="fresa">
                        <label for="fresa">Fresa</label><br>
                    <input type="checkbox" id="gluten" name="trazas" value="gluten">
                        <label for="gluten">Gluten</label><br>
                    <input type="checkbox" id="huevo" name="trazas" value="huevo">
                        <label for="huevo">Huevo</label><br>
                    <input type="checkbox" id="lacteo" name="trazas" value="lacteo">
                        <label for="lacteo">Lacteo</label><br>
                    <input type="checkbox" id="tamarindo" name="trazas" value="tamarindo">
                        <label for="tamarindo">Tamarindo</label><br>
                    <input type="checkbox" id="soya" name="trazas" value="soya">
                        <label for="soya">Soya</label><br>
                </div>
            <br>
            <div>
            <p>Imagen 1</p>
            <input type="file" name="image">
            </div>
             <br>
            <div>
            <p>Imagen 2</p>
            <input type="file" name="image">
            </div>
            <div><br>
        <textarea class="form-control" rows="5" type="text" name="descripcion" value="{{producto.descripcion}}" placeholder="Descripcion"></textarea>
        </div>
            <div class="form-group" >
                <button>
                    Save
                </button>
            </div>
        </form>
    </div>
</div>