<h1>NOMBRE DE PRODUCTO</h1>
<div>
    <div>imagen de producto</div>
    <div>imagen de sus componentes</div>
    <p>elementos alergicos</p>
    <p>tipos de dulces (categoria)</p>    
</div>
<div>
    <h2>Sustitutos</h2>
    <div class="child">
    <p>...lugar de sustitutos</p>
        {{#each productos}}
            <div class="card">
                    <h4>{{nombre}}</h4>
                    <p>{{marca}}</p>
                    <p>{{imagenes}}</p>
            </div>
        {{/each}}
    </div>
</div>